@using JoinRpg.Web.Models
@using JoinRpg.Web.App_Code
@model int
<hr />
<div class="form-group">
    <label class="control-label col-md-2">Подытог по полям</label>
    <div class="col-md-10">
        <div id="total_fields_fee_row" class="price-subtotal-row"><div>ВСЕГО выбрано:</div>@Html.RenderPriceElement(Model, "feeTotalFieldsDisp")</div>
    </div>
</div>
<hr />
