@using JoinRpg.Web.Models.FieldSetup
@model FieldNavigationModel

<ul class="nav nav-tabs">
    @*//TODO дисаблить поля, к которым нет доступа *@
    <nav-link asp-controller="GameField" asp-action="Index">
        Активные
    </nav-link>
    <nav-link asp-controller="GameField" asp-action="DeletedList" title="Только поля, использованные хотя бы один раз">
        Удаленные
    </nav-link>
    <nav-link asp-controller="GameField" asp-action="Settings">
        Настройки полей
    </nav-link>
    <nav-link asp-controller="GameField" asp-action="Create">
        <span class="glyphicon glyphicon-plus"></span>Добавить новое поле
    </nav-link>
</ul>

<h3>@ViewBag.Title</h3>
