@model JoinRpg.Web.Models.AllrpgUpdateViewModel
@{
    ViewBag.Title = "Обновление проекта " + Model.ProjectName + " из Allrpg";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    Все данные в проекте будут удалены и заменены на данные c allrpg. Все данные, которые возможно есть в данном проекте, будут безвовзратно потеряны.
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProjectId)
  @Html.AntiForgeryToken()

<input type="submit" value="Импорт" class="btn btn-danger" onclick="return confirm('Вы действительно хотите импортировать проект из ALLRPG?\nВСЕ ДАННЫЕ БУДУТ УДАЛЕНЫ')"/>
}

<p>Результаты:</p>
@Html.TextAreaFor(model => model.UpdateResult, 50, 100, new { @readonly = "readonly" })