@using RazorEngine
@inherits RazorEngine.Templating.TemplateBase<dynamic>
Здравствуйте, вы (или кто-то, выдающй себя за вас) запросил восстановление пароля на сайте JoinRpg.Ru. Если это вы, кликните
с<a href="@Model.CallBackUri">вот по этой ссылке</a>, и мы восстановим вам пароль.

Если вдруг вам пришло такое письмо, а вы не просили восстанавливать пароль, ничего страшного! Просто проигнорируйте его и все.