<div class="appointment-details-interior">

    <div class="appointment-details-header">
        <h4 id="details-title"></h4>
        <button class="btn btn-link" onclick="closeDetailsClickHandler()"><i class="glyphicon glyphicon-remove"></i></button>
    </div>

    <div class="appointment-details-content">
        <div class="appointment-details appointment-details-errors">
            <h4>Проблемы</h4>
            <div id="details-problems"></div>
        </div>

        <div class="appointment-details appointment-details-users">
            <h4>Мастера</h4>
            <div id="details-users"></div>
        </div>

        <div class="appointment-details appointment-details-rooms">
            <h4>Комнаты</h4>
            <div id="details-rooms"></div>
        </div>

        <div class="appointment-details appointment-details-slots">
            <h4>Слоты времени</h4>
            <div id="details-slots"></div>
        </div>

        <div class="appointment-details appointment-details-info">
            <h4>Описание</h4>
            <div id="details-info"></div>
        </div>
    </div>

    <div class="appointment-details-footer">
        <a id="details-link" class="btn btn-link" href="#" target="_blank">Открыть на сайте&hellip;</a>
    </div>
</div>
