@model JoinRpg.Web.Models.Schedules.SchedulePageViewModel

@{
    ViewBag.Title = "Расписание";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    Чтобы добавить расписание мероприятий в свой календарь, обратитесь к @await Html.HelpLink("schedule/add_to_calendar.html", "инструкции"). <br />
    @Html.ActionLink("Ссылка для копирования", "Ical", "ShowSchedule", new { projectId = Model.ProjectId })
</div>

<section class="scheduler-container">
    @await Html.PartialAsync("Scheduler", Model)
</section>

@if (Model.Intersections.Count > 0)
{
    <h3>Мероприятия, пересекающиеся друг с другом</h3>
    <section>
        @await Html.PartialAsync("Intersections", Model)
    </section>
}
@if (Model.NotAllocated.Count > 0)
{
    <h3>Мероприятия, не размещенные в сетке</h3>
    <section>
        @await Html.PartialAsync("Notallocated", Model)
    </section>
}

@section styles {
    <link rel="stylesheet" href="~/css/Scheduler.css" />
    <style type="text/css">
        .scheduler-container {
            display: block;
            width: 100%;
            height: 600px;
            overflow: hidden;
            margin-top: 1em;
        }

            .scheduler-container .scheduler-header {
                border-left: 1px solid silver;
                border-right: 1px solid silver;
            }

            .scheduler-container .scheduler-content {
                border: 1px solid silver;
            }
    </style>
}
