@model JoinRpg.Portal.Models.ErrorViewModel
@{
  ViewData["Title"] = "Страница не найдена";
}

<h1 class="text-danger">Страница не найдена</h1>

<p>
  Путь не найден. Если вы нашли этот путь на сайте, обратитесь в техподдержку.
</p>
