version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    groups:
      aspnetcore-dependencies:
        patterns:
          - "Microsoft.Extensions.*"
          - "Microsoft.AspNetCore.*"
        update-types:
          - "minor"
          - "patch"
      xunit:
        patterns:
          - "xunit*"
      serilog:
        patterns:
          - "Serilog*"
  - package-ecosystem: "docker" 
    directory: "/src/JoinRpg.*" 
    schedule:
      interval: "daily"
    groups:
      docker-updates:
        patterns:
          - "dotnet/aspnet*"
  - package-ecosystem: "github-actions" 
    directory: "/" 
    schedule:
      interval: "daily"

