version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/" 
    schedule:
      interval: "daily"
    ignore:
    # https://github.com/aws/aws-sdk-net/issues/3610
      - dependency-name: "AWSSDK.S3"
    groups:
      net: #I like to merge this groups, but it will cause dependabot to timeout
        patterns:
          - "Microsoft.Extensions.*"
          - "System.Text.Json"
          - "System.Net.Http.Json"
        update-types:
          - "minor"
          - "patch"
      aspnet:
        patterns:
          - "Microsoft.AspNetCore.*"
        update-types:
          - "minor"
          - "patch"
      efcore:
        patterns:
          - "Microsoft.EntityFrameworkCore*"
          - "dotnet-ef"
        update-types:
          - "minor"
          - "patch"
      xunit:
        patterns:
          - "xunit*"
      serilog:
        patterns:
          - "Serilog*"
  - package-ecosystem: "github-actions" 
    directory: "/" 
    schedule:
      interval: "daily"

