<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.0" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net46" />
  <package id="Markdig" version="0.15.0" targetFramework="net46" />
  <package id="RoslynAnalyzers.SA1413" version="1.0.9" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="Vereyon.Web.HtmlSanitizer" version="1.4.0" targetFramework="net46" />
</packages>