@page
@model JoinRpg.Portal.Pages.Admin.IndexModel
@inject IWebHostEnvironment environment
@{
    ViewBag.Title = "Администрирование";
}
<h3>@ViewBag.Title</h3>
<ul>
    <li><a asp-controller="ProjectList" asp-area="Admin">Список активных игр</a></li>
    <li><a asp-controller="AdminHome" asp-action="StaleGames" asp-area="Admin">Проблемные проекты</a></li>
    <li><a asp-controller="DumpConfig" asp-area="Admin">Конфигурация (для отладки)</a></li>
    <li><a asp-page="/Admin/Jobs">Джобы</a></li>
    <li><a asp-page="/Admin/AdminHotRolesList">Горячие роли</a></li>
    <li><a asp-page="/Admin/SyncWithKogdaIgra">КогдаИгра</a></li>
    @if (environment.IsDevelopment())
    {
        <li><a asp-page="/Admin/ComponentTestPage">Тесты компонентов</a></li>
    }
</ul>
