@page
@model JoinRpg.Portal.Pages.Admin.JobsModel
<h3>Джобы</h3>
@foreach (var job in Model.Jobs)
{
    <div class="panel panel-default">
    <div class="panel-heading">@job.Name</div>
    <div class="panel-body">
            <form method="post">
                    @Html.Hidden("name", job.Name)
                    @Html.AntiForgeryToken()

                            <input type="submit" value="Запустить джобу" class="btn btn-success" />
            </form>
            @{
                var link = $"https://console.yandex.cloud/folders/b1g1a4nj5oq5sv996tcv/logging/group/e2371utkp5mj3oltko4r/logs?from=now-1d&to=now&size=100&linesInRow=1&query=fields.jobName%3A+%22{job.Name}%22";
            }
            <a href="@link">[Логи]</a>
    </div>
    </div>
}
