@page "/admin/test-message"
@model JoinRpg.Portal.Pages.Admin.TestMessageModel
@{
  <form method="post">
    <br />
        <br />
    <p>Отправить тестовое сообщение всем админам</p>
    <input type="submit" />
  </form>
}
