<appSettings>
  <add key="MailGunApiKey" value="key-INSERT_MAILGUN_KEY"/>
  <add key="MailGunApiDomain" value="sandbox082b8a3fffa54e988a54f8ab3cf1e2d3.mailgun.org"/>
  <add key="AllrpgInfoPassphrase" value="INSERT_ALLRPG_PASSPHRASE"/>
</appSettings>