@using JoinRpg.Web.ProjectCommon.Projects

@model ProjectCreateViewModel

@{
    ViewBag.Title = "Создание базы заявок для новой игры";
}

<h2>@ViewBag.Title</h2>

    <component type="typeof(JoinRpg.Web.ProjectCommon.Projects.CreateProjectPanel)" render-mode="WebAssemblyPrerendered" />

@section Scripts {
    <script src="/_framework/blazor.webassembly.js"></script>
    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>

}
