@model JoinRpg.Domain.CharacterFieldValue
<div class="form-group">
    <div class="col-md-2">
        @Model.Field.FieldName
    </div>

    <div class="col-md-10">
        @*TODO: May be also set client id here*@
        @Html.DisplayFor(model => model.Value, new {htmlAttributes = new {@class = "form-control"}})
    </div>
</div>