@using JoinRpg.Helpers
@using JoinRpg.Web.Helpers
@model JoinRpg.Web.Models.GameObjectLinkViewModel

@Model.Type.GetDisplayName()
<a
   style="@(Model.IsActive ? "" : "text-decoration: line-through");"
   href="@RouteHelper.GetUrl(Model.GetRouteTarget())"> @Model.DisplayName</a>
