@model JoinRpg.Web.Models.Characters.ICharacterWithPlayerViewModel

@if (Model != null && Model.Player != null)
{
    if (!Model.HidePlayer || Model.HasAccess)
    {
        var hideClassName = Model.HidePlayer ? "world-object-hidden" : "";
        <span class="@hideClassName">@Html.DisplayFor(model => Model.Player)</span>
    }
    else
    {
        <span class="glyphicon glyphicon-user"></span>
        <i>занято</i>
    }
}
else
{
    <span>нет</span>
}