@model JoinRpg.Web.Models.ICharacterWithPlayerViewModel

@if (!Model.HidePlayer || Model.HasAccess)
{
    var hideClassName = Model.HidePlayer ? "world-object-hidden" : "";
    <span class="@hideClassName">@Html.DisplayFor(model => Model.Player)</span>
}
else
{
    <i>занято</i>
}