@using JoinRpg.Services.Interfaces.Search
@using JoinRpg.Web.Helpers
@model ISearchResult

<div>
    <h4><a href="@RouteHelper.GetUrl(Model.GetRouteTarget())">@Model.Type.GetDisplayName() @Model.Name</a></h4>
    <p>
        @Model.Description
    </p>
</div>