@using System.Text.RegularExpressions
@using Joinrpg.Markdown
@using JoinRpg.Web.Helpers
@using JoinRpg.Web.Models
@model TargetedSearchResultViewModel

<style type="text/css">
    <!--
    .searchResultDetails {
        margin-left: 2em;
        margin-bottom: 1.5em;
    }
    -->
</style>

<div>
    <h4>
        @{
          var gameObjectLinkViewModel = Model.SearchResult.AsObjectLink();
        }
        @Html.DisplayFor(model => gameObjectLinkViewModel)
    </h4>
    <p class="searchResultDetails">
        @{
          string descriptionToShow = Model.SearchResult.Description.ToPlainText();

          const int maxLengthToShow = 200;
          descriptionToShow = StringFormatHelper.TruncateString(descriptionToShow, Model.SearchTarget, maxLengthToShow);

          descriptionToShow = Regex.Replace(
              descriptionToShow,
              Model.SearchTarget,
              match => "<b><u>" + match.Value + "</u></b>", RegexOptions.IgnoreCase);
        }
        @Html.Raw(descriptionToShow)
    </p>
</div>