@using JoinRpg.Web.Helpers
@using JoinRpg.Web.Models
@model TargetedSearchResultViewModel

<div>
    <h4>
        @{
          var gameObjectLinkViewModel = Model.SearchResult.AsObjectLink();
        }
        @Html.DisplayFor(model => gameObjectLinkViewModel)
    </h4>
    <p style="margin-left: 2em;margin-bottom: 1.5em;">
        @Html.Raw(Model.GetFormattedDescription(maxLengthToShow: 200));
    </p>
</div>