@using JoinRpg.Services.Interfaces.Search
@using JoinRpg.Web.Helpers
@using JoinRpg.Web.Models
@model ISearchResult

<div>
    <h4>
        @{
          var gameObjectLinkViewModel = Model.ToLinkViewModel();
        }
        @Html.DisplayFor(model => gameObjectLinkViewModel)

    </h4>
    <p>
        @Model.Description
    </p>
</div>