@using JoinRpg.Web.Models
@model UserProfileDetailsViewModel
<table>
    <tr>
        <td style="vertical-align: top"><img style="border: 1px solid black; margin-right: 5px" width="64" height="64" src="@Html.Action("GetAvatar", "User", new {Model.User.UserId})" /></td>
        <td>

@Html.DisplayFor(model => model.User) (ФИО: @Model.FullName)
<br />
@(new HtmlString(string.Join(", ", new object[]
  {
      Html.DisplayFor(model => model.Email),
      Model.PhoneNumber.Trim(), Html.DisplayFor(model => model.Skype), Html.DisplayFor(model => model.Livejournal),
      Html.DisplayFor(model => model.Vk)
  }.Where(s => !string.IsNullOrWhiteSpace(s.ToString())))))
@if (Model.AllrpgId != null && Model.AllrpgId != 0)
{
<br />
    <a href="http://inf.allrpg.info/users/@Model.AllrpgId/">Профиль на allrpg</a>
}</td>
    </tr>    
</table>
