@using JoinRpg.Domain
@model JoinRpg.DataModel.User
@if (Model == null)
{
    <span>нет</span>
    return;
}
@helper RenderVerifiedProfile()
{
    if (Model.VerifiedProfileFlag) {<i class="glyphicon glyphicon-check"></i>}
}
<a class="join-user" title="@Model.GetHint()" href="@Url.Action("Details", "User", new {Model.UserId})"><i class="glyphicon glyphicon-user"></i>@RenderVerifiedProfile()@Model.GetDisplayName().Trim()</a>
