@model JoinRpg.DataModel.User

<span title="@Html.DisplayFor(model => model.FullName)" style="font-weight: bold">
<a href="@Url.Action("Details", "User", new {Model.UserId})">@Model.DisplayName</a>
</span>
