@model JoinRpg.DataModel.User

@if (Model == null)
{
    <span>нет</span>
    return;
}
<span style="font-weight: bold">
    
    <nobr><a href="@Url.Action("Details", "User", new {Model.UserId})"><span class="glyphicon glyphicon-user"></span>@Model.DisplayName.Trim()</a></nobr>
</span>