@model dynamic
<div class="alert alert-info">
<ol>
    <li>Мы рады видеть вас на нашем сайте! Надеемся, что ваш опыт на джойне как игрока, и как мастера будет приятным. Ведите себя прилично и вежливо, и все будет хорошо.</li>
    <li>
        Если у вас будут какие-то проблемы, пишите в поддержку (<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:support@joinrpg.ru">support@joinrpg.ru</a>
        /
        <a href="https://vk.com/joinrpg">
            <img src="~/images/vk_icon.png"/>
        </a>). Мы всегда рады помочь, но обратите внимание: вы ничего не платите нам, и, следовательно, не являетесь нашим клиентом. Мы поддерживаем сайт бесплатно и в свободное время, у нас есть работа, семья, личная жизнь, другие хобби.
    </li>
    <li>Большую часть игр организуем не мы :-) По всем игровым вопросам обращайтесь к мастерам (организаторам) конкретной игры. Мы не обладаем временем или компетенцией, чтобы понять, будет ли игра хорошей или плохой — пообщайтесь с мастерами и составьте свое впечатление.</li>
    <li>Мы не сможем вам помочь, если вам не понравится игра или общение с мастерами. Если что — просто выберите себе другую игру вместо этой.</li>
    <li>Мы не принимаем у игроков взносы, они переводятся напрямую мастерам, мы их никак не трогаем.</li>
    <li>Мы будем вынуждены заблокировать тех пользователей, которые нарушат общепринятые правила интернетов. Это включает (но не ограничивается): спам, взлом нашего или других сайтов, любые другие действия, которые ставят нас под угрозу технически или юридически. Мы не ограничиваем себя определенным списком или правилами, но постараемся применять блокировки только как крайнюю меру. Пока что такой необходимости не возникало.</li>
    <li>Если кто-то ведет себя как м...к по отношению к нам, мы не даем таким людям согласия на использование нашего сайта.</li>
    <li>Рады вас видеть и удачных вам игр!</li>
</ol>
</div>
