@model string
@{
    ViewData["Title"] = "Нет доступа к данному разделу";
}

<h2>Нет доступа к данному разделу</h2>

<p>
    <b>Возможные причины</b>: Вы пытались воспользоваться разделом, предназначенным для администраторов.
    <br/>
    Если вы пытались обратиться к какому-то разделу, связанному с конкретной игрой, вы не должны видеть эту страницу.
    Обратитесь в техподдержку.
    <br/>
    <b>Путь: @Model</b>
</p>

