@page "/{projectId:int}/tools/responsible-master"
@using JoinRpg.Web.ProjectMasterTools.ResponsibleMaster;


@model JoinRpg.Portal.Pages.GamePages.ResponsibleMasterRulesModel

@{
    ViewData["Title"] = "Настройки ответственных мастеров";
}

<h3>@ViewData["Title"]</h3>

@(await Html.RenderComponentAsync<ResponsibleMasterRulesList>(RenderMode.WebAssemblyPrerendered, new {Model.ProjectId}))

@section Scripts {
  <script src="/_framework/blazor.webassembly.js"></script>
  <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>

}
