@{ ViewBag.Title = "Поддержка";}
<h1>@ViewBag.Title</h1>

<h3>Справка</h3>
@Html.HelpLink("", "Руководство пользователя")

<h3>Социальные сети</h3>
<a href="https://vk.com/joinrpg"><img style="height: 1em;" src="~/images/logo-vk.svg" /> Группа Вконтакте</a>
<br /><a href="https://t.me/joinchat/CbeyZEBmPZ5RNtPq0pyVxg"><img style="height: 1em;" src="~/images/logo-telegram.svg" /> Пользовательский чат</a> (техподдержка не отвечает в чате).

<h3>Служба поддержки</h3>
Электронная почта: <a href="mailto:support@joinrpg.ru">support@joinrpg.ru</a>

<h3>По вопросам организационных взносов (покупки или продажи билетов)</h3>
Электронная почта: <a href="mailto:payments@joinrpg.ru">payments@joinrpg.ru</a>

<h3>Для экстренных вопросов</h3>
Понедельник-пятница, с 10:00 по 17:00 (по Москве): <a href="tel:+7-925-635-47-05">+7-925-635-47-05</a>
