<JoinPanel Variation="VariationStyleEnum.Danger">
  <Header>Не заполнен профиль</Header>
  <Body>
    Мастера требуют от игроков заполнить следующие поля:
    @foreach ()
  </Body>
</JoinPanel>

@code
{
  public IReadOnlyCollection<ClaimProblem> claimProblems
}
