@using JoinRpg.Web.Models.Accommodation;
@model AccRequestViewModel
<div>
<button class="btn btn-xs btn-default glyphicon glyphicon-remove" title="Выселить из комнаты" onclick="Kick(@Model.RoomId, @Model.Id)"></button>
@Html.Partial("_RoomRequest", Model)
</div>
