@using JoinRpg.Web.Models.Accommodation;
@model AccRequestViewModel
<div>
<button type="button" class="btn btn-xs btn-default" title="Выселить из комнаты" onclick="Kick(@Model.RoomId, @Model.Id)"><i class="glyphicon glyphicon-remove"></i></button>
@Html.Partial("_RoomRequest", Model)
</div>
