@using JoinRpg.Web.Models.Accommodation;
@model AccRequestViewModel
<div class="list-group-item">
<button class="btn btn-xs btn-default glyphicon glyphicon-remove" title="Выселить из комнаты" onclick="Kick(@Model.Id)"></button>
@Html.Partial("_RoomRequest", Model)
</div>
