@using JoinRpg.Web.Models.Accommodation
@model RoomTypeViewModel
@{
    ViewBag.Title = Model.Project.ProjectName + ": тип размещения «" + Model.Name + "»";
    ViewBag.ActionName = "Сохранить";
    ViewBag.IsNew = false;
}
<h2>@ViewBag.Title</h2>
@Html.Partial("_RoomsList", new RoomTypeRoomsListViewModel(Model))
@Html.Partial("_RoomEditDlg")
@if (Model.CanManageRooms)
{
    @Html.Partial("_RoomTypeEdit", Model)
}
