@using System.Collections.ObjectModel
@using JoinRpg.Web.Models.Accommodation
@model RoomTypeViewModel
@{
    ViewBag.IsInEditMode = false;
    ViewBag.ActionName = "Добавить";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Тип проживания: «" + Model.Project.ProjectName + "\\" + Model.Name + "»";
        <h2>@ViewBag.Title</h2>
        ViewBag.ActionName = "Изменить";
        ViewBag.IsInEditMode = true;
    }
}
@if (Model.CanManageRooms)
{
    @Html.Partial("TypeEdit", Model)
}
@if (ViewBag.IsInEditMode)
{
    <hr />
    @Html.Partial("_RoomsList", new RoomTypeRoomsListViewModel(Model), new ViewDataDictionary { { "TypeName", "«" + Model.Project.ProjectName + "\\" + Model.Name + "»" } })

    if (Model.CanManageRooms)
     {
         <hr/>
         @Html.Partial("_RoomEdit", new RoomViewModel(Model), new ViewDataDictionary {{"TypeName", "«" + Model.Project.ProjectName + "\\" + Model.Name + "»"}})
     }
}


