@model JoinRpg.Web.Models.Print.PrintCharacterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.ProjectName: @Model.CharacterName</title>
    <link href="~/Content/Print.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet" />
</head>
<body>
<div>
    @await Html.PartialAsync("CharacterListHeader", Model)
    @await Html.PartialAsync("_CharacterHandout", Model.Handouts)
    @await Html.PartialAsync("PrintCharacter", Model)
</div>
</body>
</html>