Общество с ограниченной ответственностью «Джойн Регистрация»
<br />
<br /><b>ИНН</b> 7813639011
<br /><b>КПП</b> 781301001
<br /><b>ОГРН</b> 1197847193500
<br /><b>Адрес</b> 199004, Санкт-Петербург, Большой пр. П.С., дом 31, литера А, помещение 9-Н
<br /><b>Почта</b> <a href="mailto:@Contacts.PaymentsEmail">@Contacts.PaymentsEmail</a>
<br /><b>Телефон</b> <a href="tel:@Contacts.SupportPhone">@Contacts.SupportPhone</a>
<br />
<br /><b>Р/СЧ</b> 40702810800000903162 в АО БАНК "ПСКБ", Санкт-Петербург
<br /><b>К/СЧ</b> 30101810000000000852 в Северо-Западном ГУ Банка России
<br /><b>БИК</b> 044030852
<br />
<br />Генеральный директор Киселев Владислав Борисович
