<div class="join alert alert-danger">
    <i class="glyphicon glyphicon-alert"></i>
    <div style="font-size: larger">
        <p><strong>Это тестовая версия JoinRpg.ru</strong></p>
        <p>Не используйте ее для реальной работы с игроками!</p>
        <p>Если вы игрок и забрели сюда случайно, вам на <a href="http://joinrpg.ru">основной сервер</a>.</p>
    </div>
</div>

