<div class="btn">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Операции<span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="?export=xlsx"
                       role="button"
                       title="Экспорт в Excel">
                        Скачать в Excel
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>