@model JoinRpg.Web.Models.IOperationsAwareView
@if (ViewBag.HideOperations == true)
{
    return;
}
<div class="btn-group" style="padding: 1em">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Операции <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li>
            <a href="?export=xlsx"
               title="Экспорт в Excel">
                <span class="glyphicon glyphicon-download"></span>
                Скачать в Excel
            </a>
        </li>
        @if (Model.ClaimIds != null && Model.ClaimIds.Any() && Model.ProjectId != null)
        {
            <li>
                @{
                    var claimIds = "&claimIds=" + string.Join(",", Model.ClaimIds.Select(c => c.ToString()));
                }
                <a href="@Url.Action("ForClaims", "MassMail", new {Model.ProjectId})@claimIds">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Написать всем
                </a>
            </li>
        }
        @if (ViewBag.CharacterIds != null && ViewBag.ProjectId != null)
        {
        <li>
            @{
              var claimIds = "&characterIds=" + string.Join(",", ((int[])ViewBag.CharacterIds).Select(c => c.ToString()));
            }
            <a href="@Url.Action("CharacterList", "Print", new {ViewBag.ProjectId})@claimIds">
                <span class="glyphicon glyphicon-print"></span>
                Распечатать все
            </a>
        </li>
              }
    </ul>

</div>