@using JoinRpg.Web.Models.Plot
@model IEnumerable<PlotElementViewModel>

@if (Model != null && Model.Any())
{
    <hr/>
    <details>
        <summary><h4>Загрузы</h4></summary>
        @foreach (var plot in Model)
        {
            @Html.Partial("../Plot/ShowElementPartial", plot)
        }
        @if (ViewBag.HasUnfinishedPlot == true)
        {
            <p>
                <b>Часть загрузов пока в работе и скрыта. Мастера откроют их вам, когда они будут готовы.</b>
            </p>
        }
    </details>
}
