@using JoinRpg.Web.Models.Plot
@model IEnumerable<PlotElementViewModel>

@if (Model != null && Model.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @DisplayCount.OfX(Model.Count(), "загруз", "загруза", "загрузов")
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne">
            <div class="panel-body">
                @if (Model.Any(item => item.Status == PlotStatus.InWork && !item.HasMasterAccess))
                {
                <p>
                    <b>Часть загрузов пока в работе и скрыта. Мастера откроют их вам, когда они будут готовы.</b>
                </p>
                }
                @foreach (var plot in Model)
                {
                    @Html.Partial("../Plot/ShowElementPartial", plot)
                }
            </div>
        </div>
    </div>
            }
