@using JoinRpg.Web.Models.Plot
@model PlotDisplayViewModel

@if (Model != null && Model.Elements.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @DisplayCount.OfX(Model.Elements.Count(), "загруз", "загруза", "загрузов")
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne">
            <div class="panel-body">
                @foreach (var plot in Model.Elements)
                {
                    @Html.Partial("../Plot/ShowElementPartial", plot)
                }
            </div>
        </div>
    </div>
            }
