@model JoinRpg.DataModel.ICreatedUpdatedTracked
<span>
  <b>Создано: </b>
  @Html.DisplayFor(model => model.CreatedAt, "EventTime")
  @Html.DisplayFor(model => model.CreatedBy)
  @if (Model.UpdatedAt != Model.CreatedAt)
  {
    <b>Изменено: </b>
    @Html.DisplayFor(model => model.UpdatedAt, "EventTime")
    if (Model.CreatedBy != Model.UpdatedBy)
    {
      @Html.DisplayFor(model => model.UpdatedBy)
    }
  }
</span>
