@model JoinRpg.Web.Models.Subscribe.SubscribeSettingsViewModel
@using JoinRpg.Domain

@{
  ViewBag.Title = "Настройки подписки «" + Model.Name + "»";
}

  <form method="post">
    <div class="form-horizontal">
      <h4>Настройки подписки на «@Model.Name»</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <partial name="..\\GameSubscribe\\_SubscribeOptions" for="@Model.Options" view-data="ViewData" />

      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
      </div>

    </div>
  </form>
