@model int

<div class="modal fade require-element-id" id="rejectTransfer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Decline", "Transfer", new {ProjectId = Model}, FormMethod.Post))
            {
                <input type="hidden" name="moneyTransferId" id="elementId" value="0"/>
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Отклонить перевод денег</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success" id="submit-button">Отклонить </button>
                </div>
            }
        </div>
    </div>
</div>
