@model JoinRpg.Web.Models.MoneyInfoTotalViewModel

@{
    ViewBag.Title = "Сводка по деньгам";
    ViewBag.ShowLinks = true;
}

<h2>@ViewBag.Title</h2>

<h3>Итого</h3>

@Html.Partial("_MasterBalance", Model.Balance)

<h3>По типам</h3>

@Html.Partial("_PaymentTypes", Model.PaymentTypeSummary)

<h3>Переводы</h3>

@Html.Partial("_Transfers", Model.Transfers)
