@model dynamic

@{
    ViewBag.Title = "Настройка финансов проекта";
}

<h2>@ViewBag.Title</h2>
<p>К сожалению, это пока не реализовано. Обратитесь в поддержку, чтобы настроить взнос и дополнительные способы приема оплаты.</p>
