@model JoinRpg.Web.Models.Schedules.SchedulePageViewModel
<div class="scheduler-intersections">
    @foreach (var appointment in Model.Intersections)
    {
        @await Html.PartialAsync("_AppointmentPartial", appointment)
    }
</div>
