@model JoinRpg.Web.Models.Schedules.SchedulePageViewModel
<div class="scheduler-notallocated">
    @foreach (var appointment in Model.NotAllocated)
    {
        @await Html.PartialAsync("_AppointmentPartial", appointment)
    }
</div>
