@using JoinRpg.Helpers
@model IEnumerable<JoinRpg.Web.Models.Schedules.ScheduleConfigProblemsViewModel>
@{
    ViewBag.Title = "ScheduleFailed";
}

<h2>Не удалось показать расписание</h2>
@foreach (var problem in Model)
{
    @problem.GetDescription() <br />
}

