
@using JoinRpg.Web.Games.FieldSetup
@model GameFieldListViewModel

@{
    var firstItem = Model.Items.FirstOrDefault();
}
@if (firstItem != null)
{
    <div class="table-responsive" style="margin-top: 1em">
        <table class="table">
            <tr>
                <th>Поле</th>
                <th>Видимость</th>
                <th class="price-table" style="white-space: nowrap">Цена, ₽</th>
                <th>Описание</th>
                <th></th>
                <th style="min-width: 15em; width: 18em;"></th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <vc:field-row field="@item" all-items="@Model.Items"></vc:field-row>
            }
        </table>
    </div>

    <a asp-controller="GameField" asp-action="Create" asp-route-ProjectId="@Model.Navigation.ProjectId" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>Добавить новое поле
    </a>
}
