<div class="join alert alert-danger">
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    <div>
        <p>Это тестовая версия JoinRpg.ru.</p>
        <p>Не используйте ее для реальной работы с игроками!</p>
        <p>Если вы игрок и забрели сюда случайно, вам&nbsp;<a href="http://joinrpg.ru">на&nbsp;основной&nbsp;сервер</a>.</p>
    </div>
</div>
