<div style="font-size: larger">
    <h3>JoinRpg — база заявок для мастеров, организаторов и участников ролевых игр, конвентов и конференций</h3>
    <p>Помогаем готовиться к играм с 2015 года.</p>
    <p>От создателей <a href="http://kogda-igra.ru">Kogda-Igra.Ru</a>.</p>
</div>

<div style="margin-top: 2em;">
    @Html.ActionLink("О проекте", "About", null, new { @class = "btn btn-primary" })
    <a href="http://docs.joinrpg.ru" class="btn btn-info">Документация</a>
    @Html.ActionLink("Создать базу заявок", "Create", "Game", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Как помочь?", "HowToHelp", null, new { @class = "btn btn-default" })
</div>
