@{
  ViewBag.Title = "About";
}
<h2>О проекте</h2>

<p>Это тестовая версия JoinRpg.ru.<br/>
    <b>Не используйте ее для реальной работы с игроками</b>, пожалуйста.
    <br/>
    Если вы хотите получить доступ в багтрекер, напишите <a href="mailto:support@joinrpg.ru">Лео Цареву</a>.</p>
