@{
    ViewBag.Title = "JoinRpg.Ru — О Сайте";
}
<h2 class="workspace-bar">@ViewBag.Title</h2>
<div class="workspace">
    <div class="workspace-body flex-grow-1">
        <div class="workspace-control overflow-scroll-y">

            @if (!ViewBag.IsProduction)
            {
                @Html.Partial("_DevModeAlert")
            }

            <div class="panel panel-default">
                <div class="panel-heading">Команда сайта</div>
                <div class="panel-body">
                    <ol>
                        <li><a href="http://bastilia.ru">#</a><b>ЛеоЦарев</b> — создатель сайта, основной программист</li>
                        <li><a href="http://bastilia.ru">#</a><b>Атана</b> — документация</li>
                        <li><b>Айка</b> — техподдержка</li>
                        <li><b>Шико</b> — программист</li>
                    </ol>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Как помочь?</div>
                <div class="panel-body">
                    В первую очередь нужны программисты. Пригодятся пожертвования деньгами. Подробности @Html.ActionLink("на отдельной странице", "HowToHelp").
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Благодарности</div>
                <div class="panel-body">
                    <p>Человек, который популяризовал базы заявок и запустил первую популярную базу rpgdb.ru — Ростик</p>
                    <p>Создатель allrpg.info — <a href="http://cetb.ru/">&copy;etb</a>
                    </p>
                    <p>Перезапуск смог состояться благодаря финансовой и моральной поддержке замечательных людей:</p>
                    <ul>
                        <li>Адж</li>
                        <li>Айка</li>
                        <li>Борисыч</li>
                        <li>Верный ленинец</li>
                        <li>Глеб Дильман</li>
                        <li>Джеролл</li>
                        <li>ДоннаАнна</li>
                        <li>Йолаф</li>
                        <li>Корсар</li>
                        <li>Лев</li>
                        <li>Леноран</li>
                        <li>«Лестница в небо» (МГ)</li>
                        <li>Макси</li>
                        <li>Макс Тодоров</li>
                        <li>Медик</li>
                        <li>Михаил Лебедев</li>
                        <li>Мэрфи</li>
                        <li>Рингл</li>
                        <li>Фидель</li>
                    </ul>
                    <p>Активно тестировали и обсуждали:</p>
                    <ul>
                        <li>Верный ленинец</li>
                        <li>Кубела</li>
                        <li>Лулукошка</li>
                        <li>Скракан</li>
                        <li>Шико</li>
                        <li>Юся</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
