@model JoinRpg.Web.Models.HomeViewModel

@{
  ViewBag.Title = "Все игры";
}
<h2 class="workspace-bar">@ViewBag.Title</h2>

<div class="workspace">
    <div class="workspace-body flex-grow-1">
        <div class="workspace-control overflow-scroll-y">
            @foreach (var project in Model.ActiveProjects)
            {
                @Html.Partial("ProjectCard", project)
            }
        </div>
    </div>
</div>
