@model dynamic

@{
    ViewBag.Title = "Переходите с allrpg.info?";
}

<h2>@ViewBag.Title</h2>
<div class="col-md-4">
    
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Добро пожаловать на joinrpg.ru!</h4>
    </div>
    <div class="panel-body">
        <p>
            В 2015 году мы решили, что хватит мучить allrpg.info. Добро пожаловать на новую версию, улучшенную и переработанную. Она все еще находится
            в процессе разработки, но делать игры на ней уже можно, и новой версией уже пользуются более десятка мастерских групп и более 700 игроков.
            <br/> Вы можете почитать подробности ниже или сразу @Html.ActionLink("cоздать базу заявок", "Create", "Game", null, null).
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Что стало лучше?</h4>
    </div>
    <div class="panel-body">
        <dl>
            <dt>Интерфейс</dt>
            <dd>Мы тут не большие любители красоты интерфейса (как вы могли бы видеть по КогдаИгре). Мы любим, когда черным по белому, без украшательств.
                Зато все легко найти, и работает даже на мобильном.</dd>
            <dt>Фокус на игровом мире</dt>
            <dd>Вместо того, чтобы говорить про заявки, мы тут в первую очередь говорим про персонажей. Кажется, что это философский вопрос, но на практике — так удобнее. </dd>
            <dt>Группы персонажей</dt>
            <dd>Строить ролевку от семей, от мест работы, от мест жительства или политических партий? Теперь персонаж может входить в сколько угодно групп, 
            а коллективные вводные можно приписывать всей группе сразу.</dd>
            <dt>Ответственные мастера и проблемные заявки</dt>
            <dd>База заявок автоматически выделяет заявки, по которым хорошо бы что-то предпринять.
                Мастер назначается заявке автоматически — в зависимости от группы.</dd>
            <dt>Древовидные комментарии</dt>
            <dd>Теперь понятно, какой комментарий на что отвечает.</dd>
            <dt>1000 мелочей</dt>
            <dd>Не будем перечислять все улучшения. Мы сами используем joinrpg.ru каждый день и регулярно что-то допиливаем.</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Что со старой базой?</h4>
    </div>
    <div class="panel-body">
        <p>Allrpg.info никуда не исчезнет, вы можете пользовать старой базой столько, сколько вам удобно. Нам кажется, что новая удобнее, поэтому мы
            агитируем вас перейти, но allrpg.info — остается. Если %название_вашей_любимой_фичи% вам очень не достает — моментально пишите в поддержку
            и мы посмотрим, что можно сделать.</p>
        <p>
            <i><b>Важно</b>: Если в старой базе что-то не работает или работает плохо — скорее всего, править мы это не будем. Все наши силы уходят на новую базу.</i>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Я хотел бы попробовать...</h4>
    </div>
    <div class="panel-body">
        <p>
            Можно <a href="http://dev.joinrpg.ru/game/create">создать тестовую базу</a> на специальной тестовой среде.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Я согласен!</h4>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Создать базу заявок", "Create", "Game", null, new { @class = "btn btn-success" })
    </div>
</div>