@{
    ViewBag.Title = "Сбор денег 2016";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
        <a href="http://joinrpg.ru/76/roles/1980/apply"><img src="~/Content/Images/shut-up-and-take-my-money.png"/></a>
        <br/> <br />
        <a href="http://joinrpg.ru/76/roles/1980/apply" class="btn btn-success">Я на все согласен, вношу деньги</a>
        <br/>(если есть вопросы зачем и куда, читай страницу дальше)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Зачем деньги, почему так не можете всё сделать?</div>
    <div class="panel-body">
        <p>
            Как вы знаете, JoinRpg успешно запустился и работает. С нашей помощью были успешно проведены
            «<a href="http://joinrpg.ru/1/home">Стимпанк</a>», «<a href="http://joinrpg.ru/5/home">Исход</a>»,
            «<a href="http://joinrpg.ru/21/home">Боги, Люди и Я</a>», «<a href="http://joinrpg.ru/17/home">Стажеры</a>», в этом сезоне будет еще «<a href="http://joinrpg.ru/11/home">Поколение</a>»;
            две крупные игры будущего сезона — «<a href="http://joinrpg.ru/33/home">Третья Эпоха</a>» и «<a href="http://joinrpg.ru/78/home">Deus Ex Machina</a>» также используют JoinRpg.
        </p>
        <p > За время, прошедшее с запуска, мы реализовали кучу фич разного размера, как мелких, так и крупных. 
            Но наши силы довольно ограничены, у нас все еще один бесплатный программист, а идей очень много.
         Мы пилим и будем пилить, но темпы нас не радуют.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Почему для меня как мастера важен этот сбор денег?</div>
    <div class="panel-body">
        <p>Наверняка каждый мастер, который пользуется JoinRpg, уже писал в техподдержку с предложением новой фичи
            или хотя бы подумывал бы об этом. Мы любим получать такие письма, но, к сожалению, каждая такая фича
        — это либо минус пара выходных, либо несколько бессонных ночей. Ресурс и того, и другого ограничен.</p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Почему для меня как для среднего ролевика важно, чтобы JoinRpg прирастало фичами?</div>
    <div class="panel-body">
        <p>Каждая фича JoinRpg — это сэкономленные <b>мастерские силы</b>. Это сэкономленное мастерское время.
            То самое время, которое мастера смогут потратить на то, чтобы сделать игру интереснее и проработаннее, 
            согласованнее друг с другом. Мы видим свою задачу прежде всего в том, чтобы избавить мастеров от рутинного труда и помочь в креативном (там, где это можно).</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Хорошо, какой план?</div>
    <div class="panel-body">
        <p>Мы объявляем новый сбор денег. Мы хотим собрать примерно 200-300 тысяч рублей и потратить их осенью-зимой на планомерную работу. Важно собрать именно столько, чтобы имело смысл взять в команду нового программиста, за деньги, и ему потратить время на то, чтобы «врубиться» и разобраться в проекте.</p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Что означают эти 200-300 тысяч и что в них войдет?</div>
    <div class="panel-body">
        Программисты, к сожалению, довольно дороги. Проще всего представить так: 10-12 тысяч рублей — это выходные 
        работы программиста, или половина рабочей недели (каждый вечер по 4 часа). 
        (В этом месте большинство людей взвоют, почему так дорого, а программисты — почему так дешево.) 
        Выходные — это достойный объем, за который можно запилить значимую не очень большую фичу. 
        Кроме того, сколько-то времени надо заложить на тестирование, проверку кода другим программистом 
        (так называемое code review) и т.д. 
        Обычно принято дарить спонсорам проекта какие-то сувениры, мы этого тоже не избежим. 
        На круг разумно считать, что 15 тысяч — это не очень большая фича, или половина фичи побольше.
        <b >Таким образом 300 тысяч — это 20 таких «фич»</b>.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Какие конкретно фичи в плане?</div>
    <div class="panel-body">
        Можно ознакомиться 
        <a href="https://docs.google.com/spreadsheets/d/1NMufpxswx869mksQYiJ2mD8VpyDUOB3pKAHKgZmVLwc/pubhtml">вот с этой таблицей</a>. 
        Какие конкретно фичи будем делать, определим по итогам голосования спонсоров, опроса мастерских групп и наших размышлений.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Есть довольные мастера?</div>
    <div class="panel-body">
        <dl>
            <dt>Аджантис, игра «Третья Эпоха», мастер-координатор:</dt>
            <dd>
                «...система хорошая, добротная, стабильная, простая в усвоении (что важно!), и наш тысячник в ней спокойненько и плодотворно работает)».
            </dd>
            <dt>Йолаф, МГ «Дом», игра «Исход»:</dt>
            <dd>
                «...сделано с умом и с заботой о пользователях, а актуальные для нашей игры недостатки функционала
                оперативно закрывались разработчиками... Уже не вижу ни одной причины
                делать игру на какой-либо другой базе».
            </dd>
            <dt>Фрикси, #Бастилия / МГ «Питерский Формат», региональный мастер на «Стимпанке»:</dt>
            <dd>«Удобная работа с большим массивом заявок: множество фильтров, удобные
                переходы, также группы персонажей, работа с ролевой и ее редактирование».</dd>

            <dt>ДоннАнна, МГ «Питерский формат», региональный мастер на «Стимпанке»:</dt>
            <dd>
                «Через мои нежные ручки за время подготовки игры Стимпанк прошло почти 300 игроков, из
                которых на игру приехало 123 человека.
                Не знаю чтобы я делала без join». (<a href="http://donnanna.livejournal.com/661921.html">Подробнее</a>)
            </dd>

            <dt>МГ «Академическая общественность», игра «Боги, Люди и Я»</dt>
            <dd>
                «...стоит упомянуть сайт joinrpg.ru и его службу поддержки, которая помогала оперативно решать
                насущные проблемы»
            </dd>

            <dt>Тино, игра «Star Wars: First days of Empire»</dt>
            <dd>
                «...вообще сайт огонь!»
            </dd>
        </dl>
        <p>С отзывами мастеров можно также ознакомиться (и дописать свой) в <a href="https://vk.com/topic-109407511_34395474">теме ВК</a>.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Как помочь без денег?</div>
    <div class="panel-body">
       Нам нужны программисты (в том числе за деньги), нужны тестеры, нужна помощь в пиаре сбора денег. Пишите <a href="mailto:leo@joinrpg.ru">leo@joinrpg.ru</a>
    </div>
</div>



<div class="panel panel-default">
<div class="panel-body" style="text-align: center">
    <a href="http://joinrpg.ru/76/roles/1980/apply" class="btn btn-success">Я все понял и готов</a>
</div>
</div>