@model dynamic
@{
    ViewBag.Title = "Как помочь JoinRpg.Ru";
}
<h2 class="workspace-bar">@ViewBag.Title</h2>
<div class="workspace">
    <div class="workspace-body flex-grow-1">
        <div class="workspace-control overflow-scroll-y">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align: center">
                    <a href="http://joinrpg.ru/183/roles/4651/apply"><img src="~/Content/Images/shut-up-and-take-my-money.png" /></a>
                    <br /> <br />
                    Самым простым способом помочь проекту было и остается пожертвование денег. Деньги в основном идут на покрытие расходов на хостинг,
                    а также переодически мотивируют основного программиста проекта брать отгулы на работе.
                    <br/>
                    <a href="http://joinrpg.ru/183/roles/4651/apply" class="btn btn-success">Я на все согласен, вношу деньги</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Программирование</div>
                <div class="panel-body">
                    <p>Это самый полезный и самый эффективный вид помощи. Программисты нужны всегда, и желательно бесплатно.
                        Желательно, бесплатно.
                        Если вам знакома хотя бы часть используемых технологий, или вы знакомы с другими языками и нормально относитесь к тому, чтобы разобраться, пишите <a href="mailto:leo@joinrpg.ru">leo@joinrg.ru</a>.
                        В идеале мы бы хотели программиста в команду сайта на постоянную основу. Для вас — это шанс заслужить вечную благодарность всего ролевого сообщества :-) На предыдущей версии, allrpg.info, были проведены сотни успешных игр.
                        На этой версии мы проведем больше.</p>
                    <p>Исходный код сайта на Github: <a href="https://github.com/joinrpg/joinrpg-net">https://github.com/joinrpg/joinrpg-net</a>.
                        <br/>
                        Технологии: <code>C#, ASP.net MVC, Entity Framework, Razor, HTML, CSS, JS</code>.
                    </p>
                    <p>Если вы готовы программировать только за деньги, это тоже было бы интересно. Напишите, и я вспомню о вас, если у нас будут деньги. :-)
                        На самом деле, если вдруг найдется программист, готовый поработать фуллтайм или полставки в течении двух-трех месяцев (например, перерыв между
                        двумя работами), то под вас можно объявить сбор.</p>
                    <p>Также ищем программистов под мобильные устройства (Android, Xamarin).</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Тестирование</div>
                <div class="panel-body">
                    <p>Если вы не обладаете программистcкими навыками, но вдумчивы, или, может, даже настоящий тестер, то нам очень нужны люди, готовые регулярно проверять
                        большие изменения. Пишите <a href="mailto:leo@joinrpg.ru">leo@joinrg.ru</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
