@model dynamic

@{
    ViewBag.Title = "Как помочь JoinRpg.Ru";
}

<h2>Как помочь JoinRpg.Ru</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Пожертвования</h4>
    </div>
    <div class="panel-body">
        <p class="alert alert-warning">Прямо сейчас идет <a href="@Url.Action("Funding2016")" class="alert-link">сбор денег</a>. Деньги очень нужны.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Программирование</h4>
    </div>
    <div class="panel-body">
        <p>
            Это самый полезный и самый эффективный вид помощи. Мне нужны еще люди, которые могли бы вместе со мной участвовать в развитии сайта.
            Желательно, бесплатно.
            Вот на каких технологиях основан сайт: <code>C#, ASP.net MVC, Entity Framework, Razor, HTML, CSS, JS</code>. Если вам знакомы хотя бы часть букв,
            или вы знакомы с другими языками и нормально относитесь к тому, чтобы разобраться, пишите <a href="mailto:leo@joinrpg.ru">leo@joinrg.ru</a>.
            В идеале я бы хотел программиста в команду сайта на постоянную основу. Для вас — это шанс заслужить вечную благодарность всего ролевого сообщества :-) На предыдущей версии, allrpg.info, были проведены сотни успешных игр.
            На этой версии мы проведем больше.
        </p>
        <p>
            Если вы готовы программировать только за деньги, это тоже было бы интересно. Напишите, и я вспомню о вас, если у нас будут деньги. :-)
            На самом деле, если вдруг найдется программист, готовый поработать фуллтайм или полставки в течении двух-трех месяцев (например, перерыв между
            двумя работами), то под вас можно объявить сбор.
        </p>
        <p>
            Также ищем программистов под мобильные устройства (Android, Xamarin).
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Тестирование</h4>
    </div>
    <div class="panel-body">
        <p>
            Если вы не обладаете программистcкими навыками, но вдумчивы, или, может, даже настоящий тестер, то нам очень нужны люди, готовые регулярно проверять
            большие изменения.
        </p>
    </div>
</div>