@model dynamic

@{
    ViewBag.Title = "Как помочь JoinRpg.Ru";
}

<h2>Как помочь JoinRpg.Ru</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Пожертвования</h4>
    </div>
    <div class="panel-body">
        <img src="~/Content/Images/shut-up-and-take-my-money.png"/>
        <p>
            Самый простой способ помочь (но не самый эффективный)— перечислить деньги. Для этого отправьте любую сумму на карту <kbd>5416 0071 2200 8339</kbd>.
            Неплохо также сопроводить письмом на <a href="mailto:leo@joinrpg.ru">leo@joinrg.ru</a>, чтобы я добавил вас в список жертвователей.
            Обратите внимание, что пожертвования бывают двух типов: «на дело» и «на пиво».
        </p>
        <p>Пожертования «на дело» я постараюсь потратить с пользой —
            нанять кого-нибудь из знакомых или незнакомых хороших программистов, чтобы они запилили какую-то фичу или самому взять отпуск. Две проблемы:
            <ul>
                <li>в большинстве случаев я не могу взять больше отпуска и программистов под рукой нет</li>
                <li>для дела нужно, чтобы собралась какая-то существенная сумма (десятки тысяч рублей)</li>
            </ul>
            В настоящее время у меня около 15 000 рублей «на дело», и я трачу их очень медленно.<br/>
            Деньги «на пиво» не превращаются напрямую в новые фичи, я их просто беру и забираю себе, они мотивируют меня что-то пилить вечерами. Или нет.
        </p>
        <p>В отстутствие иных указаний пожертвование считается пожертвованием «на дело».
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Программирование</h4>
    </div>
    <div class="panel-body">
        <p>
            Это самый полезный и самый эффективный вид помощи. Мне нужны еще люди, которые могли бы вместе со мной участвовать в развитии сайта.
            Желательно, бесплатно.
            Вот на каких технологиях основан сайт: <code>C#, ASP.net MVC, Entity Framework, Razor, HTML, CSS, JS</code>. Если вам знакомы хотя бы часть букв,
            или вы знакомы с другими языками и нормально относитесь к тому, чтобы разобраться, пишите <a href="mailto:leo@joinrpg.ru">leo@joinrg.ru</a>.
            В идеале я бы хотел программиста в команду сайта на постоянную основу. Для вас — это шанс заслужить вечную благодарность всего ролевого сообщества :-) На предыдущей версии, allrpg.info, были проведены сотни успешных игр.
            На этой версии мы проведем больше.
        </p>
        <p>
            Если вы готовы программировать только за деньги, это тоже было бы интересно. Напишите, и я вспомню о вас, если у нас будут деньги. :-)
            На самом деле, если вдруг найдется программист, готовый поработать фуллтайм или полставки в течении двух-трех месяцев (например, перерыв между
            двумя работами), то под вас можно объявить сбор.
        </p>
        <p>
            Также ищем программистов под мобильные устройства (Android, Xamarin).
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Тестирование</h4>
    </div>
    <div class="panel-body">
        <p>
            Если вы не обладаете программистcкими навыками, но вдумчивы, или, может, даже настоящий тестер, то нам очень нужны люди, готовые регулярно проверять
            большие изменения.
        </p>
    </div>
</div>