<h1>Прием платежей Онлайн</h1>

<h2>Как подключить</h2>

<p>
    Организатором мероприятия должно выступать юридическое лицо либо индивидуальный предприниматель.
    Организатор заключает агентский договор с ООО «Джойн Регистрация». Для начала взаимодействия
    отправьте письмо на адрес <a href="mailto:@Contacts.PaymentsEmail">@Contacts.PaymentsEmail</a>
    со следующей информацией:
</p>
<ol>
    <li>Карточка юридического лица (индивидуального предпринимателя).</li>
    <li>Контактные данные (адрес электронной почты, телефон, фактический почтовый адрес Организатора).</li>
    <li>
        Отсканированное или сфотографированное Заявление в произвольной форме об акцепте оферты
        и намерении воспользоваться функционалом продажи Билетов, заверенное подписью лица,
        имеющего право подписи под документами юридического лица (индивидуального предпринимателя)
        и печатью (при наличии печати).
    </li>
    <li>
        В случае, если подписавшее лицо действует по доверенности, отсканированную или сфотографированную
        копию доверенности.
    </li>
    <li>
        Ссылку на открытую Базу заявок Мероприятия, в которой в поле «Анонс» содержатся следующие данные:
        <ul>
            <li>Классификация Мероприятия по <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%BE%D0%B7%D1%80%D0%B0%D1%81%D1%82%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%BE%D0%B9_%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%86%D0%B8%D0%B8_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8">возрастной категории</a>.</li>
            <li>Анонс или описание Мероприятия для участников, место его проведения.</li>
            <li>Ссылки на информационные ресурсы Мероприятия в сети Интернет.</li>
            <li>Полное наименование, реквизиты Организатора.</li>
            <li>Фактический почтовый адрес местонахождения Организатора для корреспонденции.</li>
            <li>Адрес электронной почты, по которой осуществляется поддержка Мероприятия.</li>
            <li>Телефон, по которому осуществляется поддержка участников Мероприятия.</li>
            <li>При наличии — иные каналы поддержки участников Мероприятия (социальные сети, мессенджеры и т.п.).</li>
            <li>Правила возврата билетов.</li>
        </ul>
    </li>
    <li>Ссылки на информационные ресурсы Мероприятия в сети Интернет.</li>
    <li>
        Техническое описание Мероприятия, включая даты, предполагаемое место проведения, формат, ожидаемое количество
        участников, предполагаемые цены на Билеты, правила возврата Билетов.
    </li>
</ol>
<p>
    После получения электронного письма и проверки присланных данных заключается агентский Договор.
    По факту заключения Договора для указанной Базы заявок включается возможность принимать
    взносы онлайн при помощи банковских карт.
</p>

<h2>Как это работает</h2>
<p>
    Платежи осуществляются при помощи платежного сервиса «ПСКБ Онлайн» банковскими
    картами системы Master Card, Visa или МИР. Для дополнительной идентификации держателя карты
    может использоваться технология 3D Secure. Платежный сервис «ПСКБ Онлайн» производит обработку
    данных банковских карт в соответствии с требованиями международного стандарта безопасности
    PCI&nbsp;DSS&nbsp;3.0. Передача информации происходит с применением технологии шифрования SSL.
</p>
<p>
    JoinRpg.Ru не осуществляет сбор, обработку и хранение данных банковских карт.
    Конфиденциальность информации гарантирует <a target="_blank" href="https://pscb.ru">АО&nbsp;Банк&nbsp;«ПСКБ»</a>.
</p>
<p>
    Каждый сданный взнос (проданный билет) автоматически отмечается в регистрационной заявке.
    Ручная обработка со стороны Пользователя или Организатора не требуется.
</p>

<h2>Цены и порядок взаиморасчетов</h2>
<p>
    Вознаграждение ООО «Джойн Регистрация» составляет <b>5%</b> (пять процентов) с каждого принятого
    взноса (проданного билета), плюс одноразовый сервисный сбор в размере <b>5000</b> (пять тысяч) рублей.
</p>
<p>
    Перечисление средств на расчетный счет организатора производится 1 раз в месяц.
    За 2 месяца до мероприятия 1 раз в неделю.
</p>
<p>
    Важно: организатор вправе собирать взносы (продавать билеты) иными способами, однако стоимости
    эквивалентных по типу взносов (билетов) должны быть одинаковыми вне зависимости от того,
    сдается взнос (покупается билет) через JoinRpg, или иными способами.
</p>

<h2>Документы</h2>

<div>
    <h3><a href="@Documents.UserContract">Пользовательское соглашение</a></h3>
    <p>
        Документ регулирует отношения с пользователями JoinRpg — участниками мероприятий,
        и определяет правила регистрации на сервисе и работы с ним, в том числе
        процесса сдачи организационных взносов (покупки билетов) при помощи JoinRpg.
        Документ определяет взаимные права и обязанности между ООО «Джойн Регистрация»
        и пользователями — участниками мероприятий. Если вы не согласны с одним
        или несколькими положениями этого документа, то вам не следует регистрироваться
        на мероприятия при помощи JoinRpg.
    </p>
</div>

<div>
    <h3><a href="@Documents.OrganizerContract">Агентский договор с юридическим лицом или индивидуальным предпринимателем</a></h3>
    <p>
        Этот договор необходимо заключить, если вы хотите собирать организационные взносы путем
        продажи билетов на свое мероприятие при помощи нашего сервиса от имени юридического лица
        или индивидуального предпринимателя.
    </p>
</div>

<h2>Реквизиты</h2>
@Html.Partial("_CompanyInfo")
