<h1>Документы</h1>

<div>
    <h3><a href="dd">Правила использования сайта</a></h3>
    <p>Документ регулирует отношения со всеми пользователями JoinRpg, даже не зарегистрированными
        на нем. Если вы не согласны с одним или несколькими положениями этого документа,
        то вам следует немедленно прекратить использовать сайт, закрыть все открытые страницы
        и никогда больше их не открывать.</p>
</div>

<div>
    <h3><a href="ee">Пользовательское соглашение</a></h3>
    <p>Документ регулирует отношения с пользователями JoinRpg — участниками мероприятий,
        и определяет правила регистрации на сервисе и работы с ним, в том числе
        процесса сдачи организационных взносов (покупки билетов) при помощи JoinRpg.
        Документ определяет взаимные права и обязанности между ООО «Джойн Регистрация»
        и пользователями — участниками мероприятий. Если вы не согласны с одним
        или несколькими положениями этого документа, то вам не следует регистрироваться
        на мероприятия при помощи JoinRpg.</p>
</div>

<div>
    <h3><a href="ss">Соглашение об оказании услуг</a></h3>
    <p>Документ регулирует отношения с пользователями JoinRpg — организаторами (мастерами)
        мероприятий и описывает правила использования сервиса для организаторов (мастеров).
        Если вы не согласны с одним или несколькими положениями этого документа, вы не должны
        открывать на JoinRpg базу заявок, а если вы уже открыли такую базу — немедленно
        прекратить ее использование и закрыть базу.</p>
</div>

<div>
    <h3><a href="dd">Агентский договор с юридическим лицом или индивидуальным предпринимателем</a></h3>
    <p>Этот договор необходимо заключить, если вы хотите собирать организационные взносы путем
        продажи билетов на свое мероприятие при помощи нашего сервиса от имени юридического лица
        или индивидуального предпринимателя.</p>
</div>
