
@{
    ViewBag.Title = "Регистрация на игру не начата";
}

<h2>Регистрация на игру не начата</h2>
<div class="alert alert-info">
  Регистрация на игру не открыта, поэтому делать тут пока нечего.
</div>

