@model JoinRpg.Web.Models.CheckIn.CheckInIndexViewModel

@{
  ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

<p> Здесь будет удобный контрол для поиска, но не сразу. Пока ищите при помощи формы поиска наверху.</p>
