@model JoinRpg.Web.Models.FinanceOperationAdminFunctionsViewModel
@if (Model.Allowed)
{
    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#changeFeeModal">Изменить вручную&hellip;</button>
    if (Model.PreferentialFeeEnabled)
    {
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#markAsPreferential">@(Model.PreferentialFeeUser ? "Снять пометку льготника" : "Сделать льготником")&hellip;</button>
    }
}
