@{
    ViewBag.Title = "Администрирование";
}
<h3>Администрирование</h3>
<ul>
    <li><a asp-controller="ProjectList">Список активных игр</a></li>
    <li>@Html.ActionLink("Проблемные проекты", "StaleGames", "AdminHome") </li>
</ul>
