@{
    ViewBag.Title = "Администрирование";
}
<h3>Администрирование</h3>
<ul>
    <li>@Html.ActionLink("Список активных игр", "Index", "ProjectList") </li>
    <li>@Html.ActionLink("Игры, которые давно не обновлялись", "StaleGames", "AdminHome") </li>
</ul>
