@model System.Collections.Generic.IReadOnlyCollection<JoinRpg.Data.Interfaces.ProjectWithUpdateDateDto>

@{
    ViewBag.Title = "Список неактивных проектов";
}

<h2>Список неактивных проектов</h2>

<table>
    <tr><th>Проект</th><th>Последний раз обновлен</th></tr>
    @foreach (var project in Model)
    {
        <tr>
            <td>@Html.ActionLink(project.ProjectName, "Details", "Game", new {project.ProjectId, area =""}, null)</td>
            <td>@project.LastUpdated</td>
        </tr>
    }
</table>

