@using JoinRpg.Web.Models
@model AddCommentViewModel
@{ Model.ActionName = Model.ActionName ?? "Отправить"; }

<div class="form-horizontal">
  <form asp-controller="Forum" asp-action="CreateComment" asp-route-projectId="@ViewBag.ProjectId" method="post">
    <partial name="..\\Comments\\_AddCommentPartial" model="Model" />
      
  </form>
</div>
