@model JoinRpg.Web.Models.Characters.CharacterViewModel
<span>
    <a href="@Url.Action("Edit", "Character", new {Model.ProjectId, Model.CharacterId}, null)"><span title="изменить" class="glyphicon glyphicon-wrench"></span></a>
    @if (Model.ActiveClaimsCount == 0)
    {
        <a href="@Url.Action("Delete", "Character", new {Model.ProjectId, Model.CharacterId}, null)"><span title="удалить" class="glyphicon glyphicon-trash"></span></a>
    }
   

       @{ var moveParameters = new
          {
              Model.ProjectId,
              Model.CharacterId,
              parentCharacterGroupId = Model.ParentCharacterGroupId,
              currentRootGroupId = Model.RootGroupId
          }; }
        @if (!Model.FirstInGroup)
        {
            <a href="@Url.Action("MoveUp", "Character", moveParameters, null)"><span title="переместить выше" class="glyphicon glyphicon-arrow-up"></span></a>
        }
        @if (!Model.LastInGroup)
        {
            <a href="@Url.Action("MoveDown", "Character", moveParameters, null)"><span title="переместить ниже" class="glyphicon glyphicon-arrow-down"></span></a>
        }
    
</span>