<p class="help-block">
    Группа — это персонажи, чем-то объединенные. Это может быть город, страна, семья, трактир, микрокоманда, «все ученые на игре» и т.д.
    Группы могут быть вложены друг в друга, одна группа может входить в несколько других групп, а персонаж — принадлежать к любому количеству групп.
</p>
