@model IEnumerable<JoinRpg.Web.Models.Characters.CharacterViewModel>

@{
    ViewBag.Title = "Горячие роли";
}

<h2>@ViewBag.Title</h2>

@foreach (var character in Model)
{
<li>
    @Html.Partial("_CharacterPartial", character)
</li>
}
