@inject NavigationManager NavigationManager
<div class="rule-list-row">

  <div>
    <h5>@Model.RolesList.Name</h5>
    @if (Model.CharacterGroupName != null)
    {
      <p>Группа: @Model.CharacterGroupName</p>
    }
  </div>
  <div class="filler">

  </div>
  <div>
    <JoinButton Preset="ButtonPreset.Edit" 
      OnClick='() => NavigationManager.NavigateTo($"/{Model.RolesList.ProjectRolesListId.ProjectId.Value}/tools/roleslist/edit/{Model.RolesList.ProjectRolesListId.ProjectRolesListId}")'
      Label="Редактировать"
      DisabledTitle="Для управления сетками ролей нужны права редактировать ролевку"
      Disabled="!HasEditAccess"
      />
    <JoinButton Preset="ButtonPreset.Delete" 
      OnClick="() => OnRemoveCallback.InvokeAsync(Model)"
      Label="Удалить сетку"
      DisabledTitle="Для управления сетками ролей нужны права редактировать ролевку"
      Disabled="!HasEditAccess"
      />
  </div>
</div>
@code {

    [Parameter]
    public ProjectRolesListItemViewModel Model { get; set; } = null!;

    [Parameter]
    public EventCallback<ProjectRolesListItemViewModel> OnRemoveCallback { get; set; }

    [Parameter]
    public bool HasEditAccess { get; set; }
}
