@using JoinRpg.Web.Models
@model GameFieldListViewModel

@{
  ViewBag.Title = "Удаленные поля персонажа / заявки";
}

<div>
  <span class="h2">   @ViewBag.Title</span>
  @if (Model.CanEditFields)
  {
    <a href="@Url.Action("Create", new {Model.ProjectId})" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Добавить новое поле</a>
  }
  <a href="@Url.Action("Index", new {Model.ProjectId})">К активным полям</a>
</div>
@Html.Partial("FieldList", Model.Items.Where(i => !i.IsActive))