@using JoinRpg.Web.Models
@model GameFieldListViewModel

@{
    ViewBag.Title = "Поля персонажа / заявки";
}

<div>
    <h2>@ViewBag.Title</h2>
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Index", new {Model.ProjectId})">Активные</a></li>
        <li class="active"><a href="#">Удаленные</a></li>
    </ul>
    <div class="join alert alert-warning"><i
        class="glyphicon glyphicon-info-sign"></i>Здесь показываются только поля, которые были использованы хотя бы один раз.</div>    
</div>

@Html.Partial("FieldList", Model.Items.Where(i => !i.IsActive))