@using JoinRpg.Web.Models.Plot
@model PlotFolderListViewModel

@{
    ViewBag.Title = "Сюжеты";
}

<p>
    <span  class="h2">
        @ViewBag.Title
</span>
    @if (Model.HasPlotEditorAccess)
    {
      <span class="btn-group btn-group-sm" style="display: inline-block">
        <component
          type="typeof(JoinButton)"
          render-mode="Static"
          param-Preset="ButtonPreset.Add"
          param-Label="@("Добавить сюжет...")"
          param-Link="@Url.Action("Create", "Plot", new {Model.ProjectId})" />
      </span>
    }
</p>
@await Html.PartialAsync("FolderList", Model)
