@model IEnumerable<JoinRpg.Web.Models.ClaimListItemViewModel>

<p>Вы смотрите обсуждаемые заявки, поданные поданные на персонажей и подгруппы этой группы. Возможно, вы хотите посмотреть только @Html.ActionLink("заявки напрямую в эту группу персонажей.", "DiscussingForGroupDirect", new { ViewBag.ProjectId, ViewBag.CharacterGroupId })</p>
@Html.Partial("Index", Model)
