@model JoinRpg.Web.Models.ClaimListViewModel

<p>Вы смотрите только заявки, поданные напрямую в группу персонажей. Возможно, вы хотите посмотреть @Html.ActionLink("все заявки, поданные на персонажей и подгруппы этой группы.", "ListForGroup", new {ViewBag.ProjectId, ViewBag.CharacterGroupId})</p>
@Html.Partial("Index", Model)
