@model JoinRpg.Web.Models.MoveControlParametersViewModel
<div class="btn-group btn-group-sm">
    @if (!Model.Item.First)
    {
        <a title="Переместить выше" class="btn btn-default" href="@Url.Action(Model.ActionName, Model.ControllerName, new
                 {
                     Model.ProjectId,
                     Model.ListItemId,
                     Model.ParentObjectId,
                     Direction = -1
                 }, null)"><i class="glyphicon glyphicon-arrow-up"></i></a>
    }
    @if (!Model.Item.Last)
    {
        <a title="Переместить ниже" class="btn btn-default" href="@Url.Action(Model.ActionName, Model.ControllerName, new
                 {
                     Model.ProjectId,
                     Model.ListItemId,
                     Model.ParentObjectId,
                     Direction = 1
                 }, null)"><i class="glyphicon glyphicon-arrow-down"></i></a>
    }
</div>
