@using JoinRpg.Helpers
@using JoinRpg.PrimitiveTypes.Claims
@using JoinRpg.Web.Claims.Finance
@using JoinRpg.Web.Claims.UnifiedGrid
@using JoinRpg.Web.ProjectCommon.Claims
@inject IUnifiedGridClient claimListClient

<div style="margin:0.5em">
  <span class="h3">Моя команда</span> <EnumSelector TValue="UgStatusFilterView" SelectedValue="StatusFilter" SelectedValueChanged="UpdateFilter" />
  <InfoIcon Title="@StatusFilter.GetDescription()" />
</div>

@if (claimListItems is null)
{
    <JoinLoadingMessage />
    return;
}

<table class="table table-bordered table-hover">
  <thead>
    <tr>
        <th>Персонаж</th>
        <th>Игрок</th>
        <th>Статус</th>
        <th>Заявка обновлена</th>
        <th>Ответственный мастер</th>
        <th>Взнос</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in claimListItems.OrderBy(c => c.Character.BusyStatus))
    {
        @if (item.Claims.Length == 0)
        {
            <tr>
                <td>
                  <CharacterLink Model="item.Character.Name" />
                </td>

                <td>
                    &nbsp;
                </td>
                <td>
                    <CharacterBusyStatusBadge CharacterBusyStatus="item.Character.BusyStatus" SlotCount="item.Character.SlotCount" />
                </td>
                <td>
                    &nbsp;
                </td>
                <td>&nbsp;</td>
                <td>
                    &nbsp;
                </td>
            </tr>
        }
        else
        {
            bool first = true;
            @foreach (var claim in item.Claims)
            {
                <tr>
                    @if (first)
                    {
                        first = false;
                            var rowspan = item.Claims.Length + (item.Character.IsSlot ? 1 : 0);
                            <td rowspan="@rowspan">
                                <CharacterLink Model="item.Character.Name" />
                        </td>
                    }
                    


                    <td>
                        <UserLink Model="claim.Player" />
                        @if (!string.IsNullOrWhiteSpace(claim.PlayerFullName))
                        {
                            <text><br /> @claim.PlayerFullName </text>
                        }
                    </td>
                    <td>
                        <ClaimStatusBadge Status="claim.ClaimStatus" />
                    </td>
                    <td>
                        <EventTime Model="claim.UpdateDate" />
                    </td>

                    <td><UserLink Model="claim.Responsible" /></td>
                    <td>
                        <ClaimBalanceView Model="claim.Fee" />
                    </td>
                </tr>
            }
            @if (item.Character.IsSlot)
                {
                    <tr>

                      <td>
                          &nbsp;
                      </td>
                      <td>
                          <CharacterBusyStatusBadge CharacterBusyStatus="item.Character.BusyStatus" SlotCount="item.Character.SlotCount" />
                      </td>
                      <td>
                          &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>
                          &nbsp;
                      </td>
                  </tr>
                }
            }
    }
    </tbody>
</table>


    @code {

    IReadOnlyCollection<UgItemForCaptainViewModel>? claimListItems;

    private UgStatusFilterView StatusFilter { get; set; }

    [Parameter]
    [EditorRequired]
    public ProjectIdentification ProjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        claimListItems = await claimListClient.GetForCaptain(ProjectId, StatusFilter);
        await base.OnInitializedAsync();
    }

}
@code {
    private async Task UpdateFilter(UgStatusFilterView args)
    {
        if (StatusFilter != args)
        {
            StatusFilter = args;
            claimListItems = null;
            StateHasChanged();
            claimListItems = await claimListClient.GetForCaptain(ProjectId, StatusFilter);
        }
    }
}
