@using Microsoft.JSInterop
@using JoinRpg.Web.ProjectCommon.Projects;

@inject IKogdaIgraSyncClient KogdaClient
@inject IProjectListClient ProjectListClient
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<KogdaIgraUpdater InitialModel="KogdaIgraSyncStatus"/>

<JoinPanel Variation="VariationStyleEnum.Warning">
    <Header>Функционал не реализован</Header>
    <Body>
        Здесь будет инструмент привязки проектов джойна к играм на КогдаИгре.
    </Body>
</JoinPanel>

@if (JoinCandidates is null || KogdaIgraCandidates is null)
{
    <JoinLoadingMessage />
}
else
{
    foreach (var candidate in JoinCandidates.Take(1))
    {
        <KogdaIgraCandidateCard ProjectDto="@candidate" KogdaIgraCandidates="@KogdaIgraCandidates" />
    }
}

@code {
    [Parameter]
    public SyncStatusViewModel? KogdaIgraSyncStatus { get; set; }

    public ProjectDto[]? JoinCandidates = null;

    private KogdaIgraShortViewModel[]? KogdaIgraCandidates = null;

    protected async override Task OnInitializedAsync()
    {
      var joinTask = ProjectListClient.GetProjects(ProjectSelectionCriteria.ActiveWithoutKogdaIgra);
        var kogdaTask = KogdaClient.GetKogdaIgraCandidates();
        JoinCandidates = await joinTask;
        KogdaIgraCandidates = await kogdaTask;
    }

}
