@using JoinRpg.PrimitiveTypes.ProjectMetadata
@using JoinRpg.Web.ProjectCommon.Projects
@using Microsoft.JSInterop
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel


<KogdaIgraUpdater InitialModel="KogdaIgraSyncStatus" />

  <h3>Игры без привязки</h3>
  <AdminProjectGrid Criteria="ProjectSelectionCriteria.ActiveWithoutKogdaIgra" />


@code {
    [Parameter]
    public SyncStatusViewModel? KogdaIgraSyncStatus { get; set; }
}
