/* CSS for JoinUserLinkEditor component */
.join-user-link-editor-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

.join-user-link-editor-status {
    margin-top: -2px;
    margin-bottom: 6px;
}
