@using JoinRpg.DomainTypes.ProjectMetadata
@using JoinRpg.Web.ProjectCommon
@using JoinRpg.Web.ProjectCommon.Characters
@using JoinRpg.WebComponents
@inject IProjectRoleGridClient Client
@inject NavigationManager NavigationManager
@inject PersistentComponentState ApplicationState
@implements IDisposable

@if (Model is null)
{
    <JoinLoadingMessage />
}
else
{
    <div class="d-flex align-items-center">
        <h4>@Model.Name</h4>
        @if (Model.CanEditSettings)
        {
            <span class="ms-3">
                <JoinButton Preset="ButtonPreset.Edit"
                            OnClick='() => NavigationManager.NavigateTo($"/{Model.RolesListId.ProjectId.Value}/tools/roleslist/edit/{Model.RolesListId.ProjectRolesListId}")'
                    Label="Настройки сетки" />
            </span>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Персонаж</th>
                <th>Игрок</th>
                @if (Model.HasGroupsColumn)
                {
                    <th>Группы</th>
                }
                @foreach (var fieldName in Model.FieldColumnNames)
                {
                    <th>@fieldName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    <td><CharacterLinkWithEdit Model="row.Character" /></td>
                    <td>
                        @if (row.Player.ApplyStatus.BusyStatus == CharacterBusyStatusView.Npc)
                        {
                            <text>NPC</text>
                        }
                        else if (row.Player.ApplyStatus.IsSlot)
                        {
                            <text>шаблон</text>
                        }
                        else if (row.Player.Link is { } link)
                        {
                            <UserLink Model="link" />
                        }
                        else
                        {
                            <text>нет&nbsp;игрока</text>
                        }
                        @if (row.Player.Contacts is not null)
                        {
                            <text> (</text><UserContactsView Contacts="row.Player.Contacts" /><text>)</text>
                        }
                        <text> </text>
                        <ApplyForCharacterButton Model="row.Player.ApplyStatus" />
                    </td>
                    @if (row.Groups is { } groups)
                    {
                        <td>
                            @for (var i = 0; i < groups.Groups.Count; i++)
                            {
                                if (i > 0)
                                {
                                    <text>, </text>
                                }
                                <CharacterGroupLink Model="groups.Groups[i]" />
                            }
                        </td>
                    }
                    @foreach (var fieldValue in row.FieldValues)
                    {
                        <td>@fieldValue</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter, EditorRequired] public ProjectRolesListIdentification RolesListId { get; set; }

    private ProjectRoleGridViewModel? Model { get; set; }
    private PersistingComponentStateSubscription _persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        _persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<ProjectRoleGridViewModel>(nameof(ProjectRoleGrid), out var model))
        {
            model = await Client.GetRoleGrid(RolesListId);
        }
        Model = model;
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(ProjectRoleGrid), Model);
        return Task.CompletedTask;
    }

    public void Dispose() => _persistingSubscription.Dispose();
}
