@{
    ViewBag.Title = "Пароль успешно сброшен";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш новый пароль успешно установлен. Используйте его, чтобы @Html.ActionLink("войти на сайт", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
