@using JoinRpg.Helpers.Web
@model IEnumerable<JoinRpg.Experimental.Plugin.Interfaces.HtmlCardPrintResult>

@{
    Layout = null;
}

<!DOCTYPE html>

<html moznomarginboxes mozdisallowselectionprint>
<head>
    <title>Распечатка карточек</title>
    <style>
 @@page {
     size: A4;
     margin: 3mm;
 }
 html {
     font-family: Calibri, Verdana, Arial, sans-serif;
 }
         .a7card {
             width: 88mm ;
             height: 56mm;
             border: black solid medium;
             margin-left: 4mm;
             margin-right: 4mm;
             margin-top: 6mm;
             margin-bottom: 6mm;
             padding: 1mm;
             float: left;
             page-break-inside: avoid;
         }
         
         .card-content {
             max-width: 100%;
             max-height: 100%;
             overflow: hidden;
         }
         i {
             font-size: 90%;
         }
         hr {
             margin: 0;
         }
    </style>
</head>

<body>
<div>
      @foreach (var card in Model)
      {
          <div class="a7card">
              <div class="card-content">
                  @(ViewBag.CardSanitizeDisable == true ? new MvcHtmlString(card.Html.UnValidatedValue) : card.Html.SanitizeHtml())
              </div>
          </div>
      }
</div>
</body>
</html>