@using Joinrpg.Markdown
@model IEnumerable<JoinRpg.Experimental.Plugin.Interfaces.HtmlCardPrintResult>

@{
    Layout = null;
}

<!DOCTYPE html>

<html moznomarginboxes mozdisallowselectionprint>
<head>
    <title>Распечатка карточек</title>
    <style>
 @@page {
     size: A4;
     margin: 3mm;
 }
 html {
     font-family: Calibri, Verdana, Arial, sans-serif;
 }
         .a7card {
             width: 88mm ;
             height: 56mm;
             border: black solid medium;
             margin-left: 4mm;
             margin-right: 4mm;
             margin-top: 6mm;
             margin-bottom: 6mm;
             padding: 1mm;
             float: left;
             page-break-inside: avoid;
             position: relative;
         }
         
         .card-content {
             max-width: 100%;
             max-height: 100%;
           overflow: hidden;
         }
         i {
             font-size: 90%;
         }
         hr {
             margin: 0;
         }

         .card-footer {
           font-size: 50%;
           width: 100%;
           font-style: italic;
           position: absolute;
           bottom: 0;
           right: 0.5em;
           text-align: right;
         }
    </style>
</head>

<body>
<div>
      @foreach (var card in Model)
      {
        var background = card.BackgroundUrl != null ? new HtmlString("style=\"background-image:url(" + card.BackgroundUrl + "); background-position: center; background-size: contain; background-repeat: no-repeat;\"") : new HtmlString("");
          <div class="a7card" @background>
            <div class="card-content">
              @(ViewBag.CardSanitizeDisable == true ? new MvcHtmlString(card.Html.UnValidatedValue) : card.Html.SanitizeHtml())
            </div>
            <div class="card-footer">
              создано при помощи joinrpg.ru
            </div>
          </div>
      }
</div>
</body>
</html>
