@using JoinRpg.Helpers.Web
@model IEnumerable<JoinRpg.Experimental.Plugin.Interfaces.HtmlCardPrintResult>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Распечатка карточек</title>
    <style>
        .a6card {
            width: 80mm;
            height: 125mm;
            border: black solid medium; 
            padding: 2mm;
            margin: 2mm;
            float: left;
        }
    </style>
</head>

<body>
<div>
      @foreach (var card in Model)
      {
          <div class="a6card">@card.Html.SanitizeHtml()</div>
      }
</div>
</body>
</html>