@page
@model JoinRpg.Portal.Pages.Error.AntiforgeryModel
<h3>Ошибка безопасности</h3>
<p>
  Что-то пошло не так! Вероятнее всего страница была открыта слишком долго и немного протухла.
  Вернитесь на страницу, откуда вы пытались сделать то или иное действие и обновите ее.
</p>
