@model JoinRpg.Web.Models.ForumThreadViewModel

@{
    ViewBag.Title = Model.ProjectName + " → "+ Model.Header;
}
@Html.DisplayFor(model => model.GroupDetails)

<div>
    <h4>Форумы @Html.ActionLink(Model.GroupDetails.Name, "ListThreadsByGroup", new { Model.ProjectId, Model.GroupDetails.CharacterGroupId }) → @Model.Header</h4>
    <hr />
    @Html.Partial("..\\Comments\\CommentsListPartial", Model)
</div>
