<!-- Edit room name dialog -->
<div id="dlgEditRoomName" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="pnRoomNameTitle" class="modal-title">Добавить комнаты</h4>
            </div>
            <div class="modal-body">
                <label for="edRoomName" class="control-label" style="display: block">Введите список номеров комнат:</label>
                <input id="edRoomName" type="text" style="display: block; width: 100%;"/>
                <div id="addComment" style="margin-top: 1em;">
                    <div class="join alert alert-info">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <div>
                            <p>Можно использовать списки и диапазоны номеров. Пробелы игнорируются.</p>
                            <p>Пример: <span style="font-family: monospace;">1А, 2Б,5-8, 12</span></p>
                        </div>
                    </div>
                    <div class="join alert alert-info">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <div>
                            <p>
                                Обратите внимание, что при указании диапазона его границы должны быть
                                только целыми числами, при этом левая граница диапазона должна быть
                                строго меньше правой границы. Иначе диапазон не будет распознан.
                            </p>
                            <p><strong>Правильно:</strong> <span style="font-family: monospace;">5-8,205-210</span></p>
                            <p>Неправильно: <span style="font-family: monospace;">D5-8,305-300</span>
                                (это будут <strong>две</strong> комнаты D5-8 и 305-300)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="bnEditRoomOk" type="button" class="btn btn-success">ОК</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>

    </div>
</div>
