@using JoinRpg.Web.Models.Accommodation
@model RoomTypeViewModel
@{
    ViewBag.Title = Model.Project.ProjectName + ": новый тип размещения";
    ViewBag.ActionName = "Добавить";
    ViewBag.IsNew = true;
}
<h2>@ViewBag.Title</h2>
@await Html.PartialAsync("_RoomTypeEdit", Model)
