@{
    ViewBag.Title = "JoinRpg.Ru — О Сайте";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if (!ViewBag.IsProduction)
{
    @await Html.PartialAsync("_DevAlertPartial")
}

<component type="typeof(JoinRpg.Blazor.Client.CommonPages.AboutPanel)"
           render-mode="Static" />

<component type="typeof(JoinRpg.Blazor.Client.CommonPages.SupportPanel)"
           render-mode="Static" />
