@model JoinRpg.Web.Models.HomeViewModel

@{
  ViewBag.Title = "Все игры";
}
@if (Model.ActiveProjects.Any())
{
  <h3>Игры</h3>

  <div class="row">
    @foreach (var project in Model.ActiveProjects)
    {
            <component type="typeof(JoinRpg.Web.Games.Projects.ProjectCard)"
                       param-Model="@Model"
                       render-mode="Static" />
    }
  </div>
}
else
{
  <h3>Архив игр пуст</h3>
}
