@using JoinRpg.WebPortal.Models
@model HomeViewModel

@{
  ViewBag.Title = "Все игры";
}

<component type="typeof(JoinRpg.Web.Games.Projects.MyProjectPanel)"
           param-Projects="@Model.MyProjects"
           render-mode="Static" />

@if (Model.AllProjects.Any())
{
  <h2 style="clear:both">Все Игры</h2>

    @foreach (var project in Model.AllProjects)
    {
            <component type="typeof(JoinRpg.Web.Games.Projects.ProjectCard)"
                       param-Model="@project"
                       render-mode="Static" />
    }
}
else
{
  <h3>Архив игр пуст</h3>
}
