@model JoinRpg.Web.Models.HomeViewModel

@{
  ViewBag.Title = "Все игры";
}
<h3>Игры</h3>

<div class="row">
    @foreach (var project in Model.ActiveProjects)
    {
    @await Html.PartialAsync("ProjectCard", project)
    }
</div>
