@using System.Linq.Expressions;
@if (For.Compile()())
{
  <Label For="@For" @attributes="@InputAttributes">@ChildContent</Label>
}
@code {
    [Parameter] public Expression<Func<bool>> For { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }
}
