@typeparam TValue where TValue:struct, Enum
<InputRadioGroup @bind-value="@SelectedValue">
  @foreach (var enumValue in Enum.GetValues<TValue>())
  {
    <div>
      <label>
        <InputRadio Name="@Name" Value="@enumValue"></InputRadio>
        &nbsp;@enumValue.GetDisplayName()
      </label>
      @if (enumValue.GetDescription() is string description)
      {
        <div class="help-block">@description</div>
      }
    </div>
  }
</InputRadioGroup>

@code {
    [Parameter]
    public TValue SelectedValue { get; set; } = default(TValue)!;

    [Parameter]
    public EventCallback<TValue> SelectedValueChanged { get; set; }

    [Parameter]
    public string Name { get; set; } = null!;

    private async Task UpdateSelected(ChangeEventArgs eventArgs)
    {
      await SelectedValueChanged.InvokeAsync(Enum.Parse<TValue>(eventArgs.Value!.ToString ()!));
    }
}
