<span class="glyphicon glyphicon-info-sign" title="@Title" data-toggle="tooltip">&nbsp;</span>
@* data-toggle=tooltip активируется в JoinRpg.Portal/edit-func.js*@
@code {
    [Parameter]
    public string Title { get; set; } = null!;
}

