@using JoinRpg.Helpers
@using System.Linq.Expressions

@if (For == false)
{
    return;
}
<Tooltip Title="@Title">
    <span @attributes="@InputAttributes" class="@BootstrapStyle.Build("label", Variation, Size)">
        @TryGetLabel()
        @ChildContent
    </span>
</Tooltip>

@code {
    [Parameter]
    public bool? For { get; set; }

    [Parameter]
    public Expression<Func<bool>>? ForExpression { get; set; }


    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public VariationStyleEnum? Variation { get; set; }
    [Parameter] public SizeStyleEnum? Size { get; set; }

    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    private string? TryGetLabel() => ForExpression?.AsPropertyAccess()?.GetDisplayName();
}
