<div class="@style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public VariationStyleEnum? Variation { get; set; } = VariationStyleEnum.None;

    private string style => BootstrapStyle.Build("alert", Variation, null);
}
