<table class="table">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @TableBody
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment TableBody { get; set; }
}
