@if(string.IsNullOrWhiteSpace(Title))
{
    @ChildContent
    return;
}

<span class="join-tooltip-container">
    <span>
        @ChildContent
    </span>
    <span class="join-tooltip">
        @Title
    </span>
</span>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

