.join-tooltip-container {
  position: relative;
  display: inline-block; /* Чтобы кнопка и popover располагались вместе */
}

/* Скрытый popover по умолчанию */
.join-tooltip {
  position: absolute;
  margin-top: 5px;
  top: 100%; /* Расположен над кнопкой */
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 300px;
  padding: 3px 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  line-break: auto;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: #fff;
}

/* Отображение popover при наведении на контейнер */
.join-tooltip-container:hover .join-tooltip {
  opacity: 1;
  visibility: visible;
}
