@model JoinRpg.Web.Models.FinOperationListViewModel

@{
    ViewBag.Title = "Список финансовых операций";
    ViewBag.CountString = Html.DisplayCount_OfX(Model.Items.Count(), "операция", "операции", "операций");
}

<h2>@ViewBag.Title</h2>

<partial name="_ListOperationsDropdown" model="Model" />

<partial name="_Operations" model="Model.Items" />
