@using JoinRpg.Web.Models
@using JoinRpg.Web.Models.Money
@model FinanceOperationsRowViewModel
@{ var style = Model.Visible ? "" : "display: none;"; }
<tr id="@Model.HtmlId" style="@style">
    <td>@Model.Title</td>
    <td></td>
    <td class="price-table">@if (Model.Fee.HasValue) { @await Html.PartialAsync("Money", new Money(Model.Fee.Value, Model.FeeHtmlId))}</td>
    <td class="price-table">@if (Model.Payment.HasValue) { @await Html.PartialAsync("Money", new Money(Model.Payment.Value))}</td>
    <td>
        @if (Model.AdminFunctions is FinanceOperationAdminFunctionsViewModel)
        {
            @await Html.PartialAsync("..\\Finances\\ClaimFinanceOperations\\_AdminFunctionsPartial", Model.AdminFunctions)
        }
    </td>
</tr>
