<footer>
    <hr />
    &copy; #<a href="https://leotsarev.ru">ЛеоЦарев</a>, <a href="http://bastilia.ru">Бастилия</a> и Друзья.
    <a asp-controller="Home" asp-action="Support">Поддержка</a>:
    <a href="mailto:support@joinrpg.ru"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
    <a href="https://vk.com/joinrpg">ВК</a>
    <component type="typeof(JoinRpg.WebComponents.TelegramIcon)"
               render-mode="Static"
               param-Link="@("joinrpg")"
               param-Collapse="true" />
    @await Html.HelpLink("", "").
    Информация о @Html.ActionLink("приеме платежей", "Index", "OnlinePayments").
    <a href="/privacy">Приватность</a>.
    <!-- Версия Версия проекта: @typeof(Startup).Assembly.GetName().Version -->
</footer>
