<div class="alert alert-danger">
    Это тестовая версия JoinRpg.ru.<br />Не используйте ее для реальной работы с игроками<br />
    Если вы игрок и забрели сюда случайно, вам <a href="http://joinrpg.ru">на основной сервер</a>
</div>
