@using JoinRpg.Web.Models.Characters
@using JoinRpg.Web.Models.CommonTypes;
@model IList<JoinSelectListItem>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("", "Переместить заявку", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.SearchableDropdown("CharacterId", Model)
        </div>
    </div>

</div>
