@model JoinRpg.Portal.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">При обработке вашего запроса возникла ошибка.</h2>

<p>
    Обратитесь в техподдержку, скопировав и прислав следующие данные (<i>не скриншотом, а текстом</i>):
</p>

@if (Model.ActivityId is not null)
{
    <p> Activity: @Model.ActivityId </p>
}

<p>RequestId: @Model.RequestId</p>

@if (!string.IsNullOrWhiteSpace(Model.Path))
{
    <p> Путь: @Model.Path </p>
}
