@using JoinRpg.Web.Models
@model JoinRpg.Web.Models.Plot.IEditablePlotElementViewModel


@functions {
  private static string GetName(CharacterGroupListItemViewModel gr)
  {
      return Deep(gr) + gr.Name;
  }

    private static string Deep(CharacterGroupListItemViewModel gr)
    {
        return new string('—', gr.DeepLevel);
    }

}
@helper CreateCheckBox( string prefix, string name, int elementId, bool @checked)
{
    @Html.CheckBox(prefix + elementId, @checked)
    @Html.Label(prefix + elementId, name, null)
  <br/>
}

<p>Этот контрол смотрится ужасно, но он временный. Сделаем тут нормальный</p>
@foreach (var element in Model.Data.ActiveGroups.Where(g => g.FirstCopy))
{
    @CreateCheckBox("group_", GetName(element), element.CharacterGroupId, Model.For.Any(f => f.IsGroup(element.CharacterGroupId)))
    foreach (var character in element.Characters)
    {
        @CreateCheckBox("char_", Deep(element) + " " + character.CharacterName, character.CharacterId, Model.For.Any(f => f.IsCharacter(element.CharacterGroupId)))
    }
}