@model  IEnumerable<JoinRpg.Web.Models.Plot.PlotElementListItemViewModel>
@if (Model.Any())
{
    <div class="panel-group" id="elementsaccordion" role="tablist" aria-multiselectable="true">
        @foreach (var item in Model)
        {
            @Html.Partial("EditElementPartial", item)
        }
    </div>

    var first = Model.First();
    <div class="modal fade" id="deleteElementModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("DeleteElement", "Plot", new {first.PlotFolderId, first.ProjectId}, FormMethod.Post))
                {
                    <input type="hidden" name="PlotElementId" id="deletePlotElementId" value="0"/>
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Удаление вводной</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="publishElementModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("PublishElement", "Plot", new { first.PlotFolderId, first.ProjectId }, FormMethod.Post))
                {
                    <input type="hidden" name="PlotElementId" id="publishPlotElementId" value="0" />
                    <input type="hidden" name="Version" id="publishVersionId" value="0" />
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Опубликовать вводную</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Опубликовать</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>

                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="unpublishElementModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("UnPublishElement", "Plot", new { first.PlotFolderId, first.ProjectId }, FormMethod.Post))
                {
                    <input type="hidden" name="PlotElementId" id="publishPlotElementId" value="0" />
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Скрыть вводную (отменить публикацию)</h4>
                    </div>

                    <div class="modal-body">
                        Вводная будет скрыта от игроков.
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Скрыть</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>

                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}