@using JoinRpg.Web.Models.Plot
@model PlotFolderListViewModel

@{
    ViewBag.Title = "Сюжеты";
}

<p>
    <span  class="h2">
        @ViewBag.Title
</span>
    @if (Model.HasEditAccess)
    {
        <a href="@Url.Action("Create", new {Model.ProjectId})" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Создать новый...</a>
    }
</p>
@Html.Partial("FolderList", Model)