@using JoinRpg.Web.Models.Plot
@model PlotElementViewModel

 @if (Model.Status == PlotStatus.Deleted)
 {
     return;
 }
@if (Model.Status == PlotStatus.InWork && !Model.HasMasterAccess)
{
    ViewBag.HasUnfinishedPlot = true;
    return;
}

@if (Model.Status == PlotStatus.InWork)
{
    <b>Не готов</b>
}@*TODO: show "For" field for masters *@
<div>
    @Html.DisplayFor(model => Model.Content)
</div>

@if (Model.HasMasterAccess)
{
    <div>
        @Html.ActionLink("Изменить", "Edit", "Plot", new {Model.PlotFolderId, Model.ProjectId}, null)
    </div>
}