@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Plot
@model PlotElementViewModel

 @if (Model.Status == PlotStatus.Deleted)
 {
     return;
 }

@{
    var hideClass = "";
}

@if (Model.Status == PlotStatus.InWork)
{
    if (!Model.HasMasterAccess)
    {
        return;
    }

    <b>Не готов</b>

    hideClass = "world-object-hidden";

}
@*TODO: show "For" field for masters *@
<div class="@hideClass">
    @Html.DisplayFor(model => Model.Content)
</div>

@if (Model.HasMasterAccess)
{
    <div>
        @Html.ActionLink("Изменить", "Edit", "Plot", new {Model.PlotFolderId, Model.ProjectId}, null)
        @Html.MoveControl(model => Model, "MoveElementForCharacter", "Plot", (int?) ViewBag.CharacterId)
    </div>
}