@model JoinRpg.Web.Models.Plot.PlotElementListItemViewModel

@{
    ViewBag.Title = "Сюжет «" + Model.PlotFolderMasterTitle + "» — история";
}



<h2>@ViewBag.Title</h2>

@Html.ActionLink("Назад к сюжету", "Edit", new {Model.ProjectId, Model.PlotFolderId}, null)
@Html.Partial("EditElementPartial", Model)