@model JoinRpg.Web.Models.ForumThreadListViewModel

@{
  ViewBag.Title = "Все дискуссии на форумах " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

@if (!Model.Items.Any())
{
    <p>Пока нет ни одной дискуссии.</p>
}
else
{
    foreach (var item in Model.Items)
    {
    <hr />
        @Html.DisplayFor(itemModel => item)

    }
}

@if (Model.HasMasterAccess)
{
    <p>
        Чтобы открыть новую дикуссию, надо выбрать группу в сетке ролей. Или, возможно, <a href="@Url.Action("CreateThread", new {Model.ProjectId, CharacterGroupId = Model.RootGroupId})">открыть дискуссию, доступную всем игрокам</a>?.
    </p>
}