@page "/about/service"
@model JoinRpg.Portal.Pages.About.serviceModel
@{
  <h2>Услуги по техподдержке</h2>
  <p>Использование сайта бесплатно, но вы можете оплатить техническую поддержку и развитие сайта. Оператор сайта — самозанятый Царев Леонид Алексеевич,
  ИНН 780521088935. 
  </p>
}
