@model JoinRpg.Web.Models.Plot.PlotFolderListItemViewModel
@Html.ActionLink(Model.PlotFolderMasterTitle, "Edit", "Plot",  new { Model.PlotFolderId.PlotFolderId, Model.ProjectId }, null)
@if (Model.HasEditAccess)
{
  <component type="typeof(JoinRpg.Web.Plots.PlotTodoBadge)"
    render-mode="Static"
    param-Todo="@Model.TodoField"
    />
}
@if (Model.TagNames.Any())
{
    <br />
    foreach (var tagName in Model.TagNames)
    {
        <a asp-controller="PlotList" asp-action="ByTag" asp-route-ProjectId="@Model.ProjectId" asp-route-TagName="@tagName">#@tagName</a> 
        <text> </text>
    }
}
