@model JoinRpg.Web.Models.Plot.PlotFolderListItemViewModel
@Html.ActionLink(Model.PlotFolderMasterTitle, "Edit", "Plot",  new { Model.PlotFolderId, Model.ProjectId }, null)
@if (!string.IsNullOrWhiteSpace(Model.TodoField) && Model.HasEditAccess)
{
    <span title="@Model.TodoField">TODO</span>
}
@if (Model.TagNames.Any())
{
    <br />
    foreach (var tagName in Model.TagNames)
    {
        <a asp-controller="PlotList" asp-action="ByTag" asp-route-ProjectId="@Model.ProjectId" asp-route-TagName="@tagName">#@tagName</a> 
        <text> </text>
    }
}
