@model JoinRpg.WebComponents.UserLinkViewModel
@if (Model == null)
{
    <span>нет</span>
    return;
}
<component
  type="typeof(JoinRpg.WebComponents.UserLink)"
  render-mode="Static"
  param-Model="@Model" />
