@inject IGameSubscribeClient Client
@if (_model is null || true)
{
  <div>Loading...</div>
}



@code {
  private SubscribeListViewModel _model;

  [Parameter]
  public SubscribeListViewModel InitialModel { get; set; }

  [Parameter]
  public int MasterId { get; set; }

  [Parameter]
  public int ProjectId { get; set; }

  protected async override Task OnInitializedAsync()
  {
    if (InitialModel != null)
    {
      _model = InitialModel;
    }
    else
    {
      _model = await Client.GetSubscribeForMaster(ProjectId, MasterId);
    }
  }
}
