@model JoinRpg.Web.Models.Plot.PlotElementListItemViewModel

@{
    ViewBag.Title = "Сюжет «" + Model.PlotFolderMasterTitle + "» — история";
    ViewBag.PlotElementUncollapse = Model.PlotElementId;
}



<h2>@ViewBag.Title</h2>

@Html.ActionLink("Назад к сюжету", "Edit", new {Model.ProjectId, Model.PlotFolderId}, null)
@await Html.PartialAsync("EditElementPartial", Model)
