@using JoinRpg.WebComponents
<JoinPanel>
    <Header>Команда сайта</Header>
    <Body>
        <b>#ЛеоЦарев</b> — создатель сайта, программист
        <br /><b>#Шико</b> — программист
        <br /><b>#Атана</b> — документация
        <br /><b>#Айка</b> — техподдержка
        <br /><b>Лулукошка</b> — тестер
        <br /><a href="http://bastilia.ru/about/">#Бастилия</a>

      
    </Body>
</JoinPanel>

<p>
    <JoinButton
               Label="Благодарности"
               Title="На сайте бастильского рейтинга"
               Link="https://rating.bastilia.ru/project/joinrpg" />
</p>

<JoinPanel>
    <Header>Как помочь?</Header>
    <Body>
        В первую очередь нужны программисты. Пригодятся пожертвования деньгами. Подробности <a href="home/howtohelp">на отдельной странице</a>.
    </Body>
</JoinPanel>
