<h3>Справка</h3>
<HelpLink Message="Руководство пользователя" Link=""/>

<h3>Социальные сети</h3>
<a href="https://vk.com/joinrpg"><img style="height: 1em;" src="~/images/logo-vk.svg" /> Группа Вконтакте</a>
<br /><TelegramIcon Link="+QGY9nm81elDmiBX3">Пользовательский чат</TelegramIcon> (техподдержка не отвечает в чате).

<h3>Служба поддержки сайта</h3>
Электронная почта: <a href="mailto:support@joinrpg.ru">support@joinrpg.ru</a>

<h3>Служба поддержки ООО «Джойн Регистрация»</h3>
По вопросам организационных взносов (покупки или продажи билетов):
<br />Электронная почта: <a href="mailto:payments@joinrpg.ru">payments@joinrpg.ru</a>
<br />Для экстренных вопросов: <a href="tel:+79218997957">+79218997957</a> (Понедельник-пятница, с 10:00 по 17:00 (по Москве).
