.inscription {
  width: 88mm;
  height: 56mm;
  border: black solid medium;
  margin-left: 4mm;
  margin-right: 4mm;
  margin-top: 6mm;
  margin-bottom: 6mm;
  padding: 1mm;
  page-break-inside: avoid;
  position: relative;
}

.inscription-content {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.feedue {
  background-color:lightgray;
  text-align:center;
}

.inscription-footer {
  font-size: 70%;
  width: 100%;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 0.5em;
  text-align: right;
}
