@model JoinRpg.Web.Models.Plot.PlotFolderListViewModelForGroup

@{
    ViewBag.Title = "Сюжеты группы";
}

@Html.DisplayFor(model => model.GroupNavigation)

<p>
    <span class="h2">
        @ViewBag.Title
    </span>
    @if (Model.HasEditAccess)
    {
    <a href="@Url.Action("Create", "Plot", new {Model.ProjectId})" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Создать новый...</a>
    }
</p>

@await Html.PartialAsync("FolderList", Model)
