
@using JoinRpg.Web.Models
@model UserProfileViewModel

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Поставить доступ в проект
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @foreach (var project in Model.ProjectsToAdd)
        {
            <li><a asp-action="Add" asp-controller="Acl" asp-route-projectId="@project.ProjectId" asp-route-userId="@Model.UserId">@project.ProjectName</a></li>
        }
    </ul>
</div>

