@using JoinRpg.Web.ProjectCommon
@if (Target is null)
{
    return;
}
<b>Для:</b>
@if (Target.Any())
{
    var counter = 0;

    foreach (var target in CharacterTargets)
    {
        @(RenderSeparator(counter))<CharacterLink Model="target" />
        counter++;
    }

    foreach (var target in GroupTargets)
    {
        @(RenderSeparator(counter))<CharacterGroupLink Model="target" />
        counter++;
    }
}
else
{
    @("\n")<span>Не установлено</span>
}
@("\n")
@code
{
    [Parameter]
    [EditorRequired]
    public TargetsInfo? Target { get; set; }

    private IEnumerable<CharacterLinkSlimViewModel> CharacterTargets
        => Target?.CharacterTargets.Select(static x => new CharacterLinkSlimViewModel(x.CharacterId, x.Name, IsActive: true, ViewMode.Show)) ?? [];

    private IEnumerable<CharacterGroupLinkSlimViewModel> GroupTargets
        => Target?.GroupTargets.Select(static x => new CharacterGroupLinkSlimViewModel(x.CharacterGroupId, x.Name, IsPublic: true, IsActive: true)) ?? [];

    private string RenderSeparator(int counter) => counter > 0 ? ",\n" : "\n";
}
