@using JoinRpg.Web.ProjectCommon.Projects

Даты:<DateRangeDisplay Start="Model.Begin" End="Model.End" />
<br />
Регион: @Model.RegionName
<br />
@if (!string.IsNullOrWhiteSpace(Model.MasterGroupName))
{
    <text>МГ: @Model.MasterGroupName</text>
    <br />
}
@if (Model.SiteUri is not null)
{
    <text>Сайт: <a href="@Model.SiteUri"> @Model.SiteUri?.Host </a><br /></text>
}
@code {
    [Parameter]
    [EditorRequired]
    public KogdaIgraCardViewModel Model { get; set; }
}
