@using JoinRpg.Web.ProjectCommon.Projects

<JoinPanel>
    <Header><CalendarIcon Title="Данные с КогдаИгры" /> Игра: <a href="@Model.KogdaIgraUri"> @Model.Name</a></Header>
    <Body>
      <KogdaIgraDetails Model="Model" />
    </Body>
</JoinPanel>
@code {
    [Parameter]
    [EditorRequired]
    public KogdaIgraCardViewModel Model { get; set; }

}
