.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26em);
  gap: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card{
    width:26em;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
}
  .card h4 {
    text-overflow: ellipsis;
    min-height: 1.3em;
  }
