@using JoinRpg.PrimitiveTypes.ProjectMetadata
@using JoinRpg.Web.ProjectCommon.Projects
@using JoinRpg.Web.Claims
<h2>@Model.Title</h2>

<div style="margin-bottom:1em">
  <JoinButtonGroup>
    @if (Model.HasCaptainAccess)
    {
      <JoinRpg.Web.Claims.CaptainCabinet.CaptainCabinetButton ProjectId="Model.ProjectId" Size="SizeStyleEnum.Large" />
    }
    @foreach(var claim in Model.MyClaims)
    {
      <ClaimButton Claim="@claim" Size="SizeStyleEnum.Large"/>    
    }

    @if (Model.Status == ProjectLifecycleStatus.ActiveClaimsOpen)
    {
        <SendClaimButton ProjectId="Model.ProjectId" ProjectStatus="Model.Status" Size="SizeStyleEnum.Large" />
    }
    </JoinButtonGroup>
    
</div>

@if (Model.Status== ProjectLifecycleStatus.Archived)
{
    <JoinAlert Variation="VariationStyleEnum.Warning"><RemoveIcon /> Проект <strong>закрыт</strong></JoinAlert>
}

@foreach (var ki in Model.KogdaIgras.OrderByDescending(ki => ki.End))
{
    <KogdaIgraCard Model="ki" />
}
@if (!string.IsNullOrWhiteSpace(Model.ProjectAnnounce.Value))
{
  <JoinPanel>
    <Header>Анонс</Header>
    <Body>
      @Model.ProjectAnnounce
    </Body>
  </JoinPanel>
}

<JoinPanel>
  <Header>Мастера</Header>
  <Body>
        <ul class="join-users-h">
            @foreach (var master in Model.Masters)
            {
                <li><UserLink Model="master" /></li>
            }
        </ul>
  </Body>
</JoinPanel>

@code {
    [Parameter]
    [EditorRequired]
    public ProjectDetailsViewModel Model { get; set; }

}
