<!DOCTYPE html>
@* TODO: not used yet, will be when we are start moving pages to Blazor *@
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["site.css"]" />
    <link rel="stylesheet" href="@Assets["JoinRpg.Portal.styles.css"]" />


    <ImportMap />

    <script src="@Assets["jquery/jquery.min.js"]"></script>
    <script src="@Assets["twitter-bootstrap/js/bootstrap.min.js"]"></script>
</head>

<body>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
