@using JoinRpg.Web.Models
@using JoinRpg.Helpers
<p>
  <strong>Оплата картой.</strong>
  После нажатия кнопки «@PaymentMethodViewModel.BankCard.GetDisplayName()» вы будете перенаправлены
  на страницу платежного сервиса «ПСКБ Онлайн» для ввода данных своей банковской карты. Поддерживаются
  карты Master Card, Visa или МИР, а также сервисы Apple Pay (только в браузере Safari на устройствах Apple),
  Google Pay, Samsung Pay. Если банк, выдавший вам карту, требует дополнительную проверку,
  то произойдет переадресация на страницу банка для ввода одноразового пароля (технология 3D Secure).
</p>
<p>
  <strong>Оплата по QR-коду.</strong>
  После нажатия кнопки «@PaymentMethodViewModel.FastPaymentsSystem.GetDisplayName()» вы будете
  перенаправлены на страницу платежного сервиса «ПСКБ Онлайн», на которой произойдет отображение
  QR-кода <a target="_blank" href="https://sbp.nspk.ru/">Системы Быстрых Платежей</a>. Для выполнения
  оплаты мобильное приложение вашего банка должно поддерживать оплату по QR-коду.
</p>
<p>
  JoinRpg.Ru не имеет доступа к данным вашей карты или банковского аккаунта, и соответственно
  не обрабатывает и не хранит их, они обрабатываются платежным сервисом «ПСКБ Онлайн» согласно
  требованиям стандарта безопасности PCI&nbsp;DSS&nbsp;3.0, передаются через соединение, зашифрованное
  по технологии SSL. Безопасность гарантирует <a target="_blank" href="https://pscb.ru">АО&nbsp;Банк&nbsp;«ПСКБ»</a>.
</p>
<p>
  Успешная оплата будет автоматически отмечена в базе, а вы получите чек на свою электронную почту.
  Дополнительно информировать организаторов (мастеров) или отмечать оплату вручную не требуется.
</p>
