@using JoinRpg.Web.Models
@using JoinRpg.Helpers
<p>
  Кнопка «<strong>@PaymentMethodViewModel.BankCard.GetDisplayName()</strong>» — оплата банковской картой,
  выпущенной в России. Может потребоваться ввод одноразового пароля (технология 3D Secure).
</p>
<p>
  Кнопка «<strong>@PaymentMethodViewModel.FastPaymentsSystem.GetDisplayName()</strong>» — оплата
  либо сканированием QR-кода, либо через приложение вашего банка (если вы с мобильного устройства).
</p>
<p style="font-size: smaller;">
  JoinRpg.Ru не имеет доступа к данным вашей карты или банковского аккаунта, не обрабатывает
  и не хранит их, они обрабатываются платежным сервисом «ПСКБ Онлайн» согласно
  требованиям стандарта безопасности PCI&nbsp;DSS&nbsp;3.0, передаются через соединение, зашифрованное
  по технологии SSL. Безопасность гарантирует <a target="_blank" href="https://pscb.ru">АО&nbsp;Банк&nbsp;«ПСКБ»</a>.
</p>
<p>
  Успешная оплата будет автоматически отмечена в базе, а вы получите чек на свою электронную почту.
  Дополнительно информировать организаторов (мастеров) или отмечать оплату вручную не требуется.
</p>
