@using JoinRpg.Domain
@model JoinRpg.Web.Models.MoneyInfoForUserViewModel


@{
    ViewBag.Title = Model.UserDetails.User.DisplayName + " — сводка по деньгам";
}

<h2>@ViewBag.Title</h2>


@Html.DisplayFor(model => model.UserDetails)

<h3>Итого</h3>

@await Html.PartialAsync("_MasterBalance", new[] { Model.Balance })

<h3>Переводы</h3>
@await Html.PartialAsync("_Transfers", Model.Transfers)

<h3>Взносы по типам</h3>
@await Html.PartialAsync("_PaymentTypes", Model.PaymentTypeSummary)

<h3>Взносы разбивка</h3>

@await Html.PartialAsync("_Operations", Model.Operations.Items)

