@using JoinRpg.Web.Games.Projects
@model IEnumerable<ProjectListItemViewModel>

@{
    ViewBag.Title = "Все активные игры";
}
<h3>Игры</h3>

<div class="alert alert-info">
    Это полный список активных игр, предназачен для администратора
</div>

<div class="row">
    @foreach (var project in Model)
    {
        <component type="typeof(JoinRpg.Web.Games.Projects.ProjectCard)"
                   param-Model="@project"
                   render-mode="Static" />
    }
</div>
