@model IEnumerable<JoinRpg.Web.Models.ProjectListItemViewModel>

@{
    ViewBag.Title = "Все активные игры";
}
<h3>Игры</h3>

<div class="alert alert-info">
    Это полный список активных игр, предназачен для администратора
</div>

<div class="row">
    @foreach (var project in Model)
    {
        @await Html.PartialAsync("ProjectCard", project)
    }
</div>
