@using JoinRpg.Web.Models
@model ErrorViewModel

<h1>Ошибка онлайн-оплаты</h1>

<div class="join alert alert-danger">
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    <div>
        <h4>@Model.Message</h4>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div style="margin-top: 0.5em;">@Model.Description</div>
        }
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Model.ReturnLink))
{
    <h4>
        <a href="@Model.ReturnLink">@(string.IsNullOrWhiteSpace(Model.ReturnText) ? Model.ReturnLink : Model.ReturnText)</a>
    </h4>
}
