<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net46" />
  <package id="QRCoder" version="1.2.8" targetFramework="net46" />
  <package id="RoslynAnalyzers.SA1413" version="1.0.9" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
</packages>