@model dynamic

@{
    ViewBag.Title = "Email не подтвержден";
}

<h2>@ViewBag.Title</h2>
<p>К сожалению, вы не можете войти, пока не подтвердите email.<br/>
    Не волнуйтесь, письмо уже отправлено на ваш почтовый ящик, все что вам нужно — открыть письмо и нажать на ссылку! 
    <br/> C нетерпением ждем вашего возвращения...</p>
