@{
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Все в порядке! Теперь проверьте свою почту — мы отправили вам письмо с секретной ссылкой. Нажмите на нее, чтобы восстановить пароль.
    </p>
</div>
	
