@using JoinRpg.Web.Models;
@{
    ViewBag.Title = "Отключение входа через Google";
}

<h2>@ViewBag.Title</h2>
<div>
    <p class="alert alert-warning">
        <b>Вход через Google отключен</b>. <br />
        С 1 декабря 2023 года этот способ входа отключен — это связано с тем, что с 1 декабря авторизация
        с использованием иностранных провайдеров запрещена на территории РФ. Воспользуйтесь одним из альтернативных способов входа.
    </p>

    <table class="table">
      <tr><th>Способ входа</th><th>Комментарий</th></tr>
      <tr>
        <td>Вконтакте</td>
        <td>
            Если вы ранее входили через VK. Если нет, он все равно может сработать автоматически, если аккаунт VK привязан на ту же почту.
        </td>
       </tr>
        <tr>
            <td>Пароль</td>
            <td>
                Если вы помните свой пароль, используйте его.
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                Если вы не помните пароль, то можете сбросить его на почту, к которой привязан ваш аккаунт joinrpg.
                Это может быть в т.ч. ваша почта вида @@gmail.com 
            </td>
        </tr>
        <tr>
            <td>Техподдержка</td>
            <td>
                Если ничего выше не поможет, обратитесь в техподдержку.
            </td>
        </tr>
    </table>
</div>
