<h3>Приватность и персональные данные</h3>
<JoinAlert Variation="VariationStyleEnum.Info">
    <HelpLink Message="Полная юридическая информация" Link="personal_data_policy" />
</JoinAlert>

<JoinPanel>
  <Header>Общие положения</Header>
  <Body>
    Сайт управляется физическим лицом — Царевым Леонидом Алексеевичем.
    <br />
    Персональные данные собираются на нем только в целях передачи их мастерам игр (говоря юридическим языком — организаторам), а также для оформления платежей
    через платежного агента ООО «Джойн Регистрация».
  </Body>
</JoinPanel>

<JoinPanel>
    <Header>Как используются персональные данные</Header>
    <Body>
        Персональные данные видны мастерам/организаторам игр, на которые пользователь отправил заявку и администраторам сайта.
        <br />
        Что дальше происходит с этими данными - ответственность мастеров и организаторов игр. Они вправе использовать их при организации мероприятия (в том числе 
        передавать турбазам/гостиницам), на все остальное они должны брать ваше отдельное согласие.
        <br />
        Персональные данные не могут использоваться для других целей, передаваться третьим лицам (не связанным с организацией мероприятия) и т.д.
        <br />
        Персональные данные хранятся в России.
    </Body>
</JoinPanel>

<JoinPanel>
    <Header>Обязанности мастеров</Header>
    <Body>
        Соблюдать правила обращения с персональными данными, не передавать их третьим лицам, и т.д.
        <br />
        Не собирать особо охраняемые персональные данные (в том числе медицинские).
    </Body>
</JoinPanel>
