#scheduler {
    position: relative;
}

#scheduler-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, .5);
    z-index: 100;
    align-items: center;
    justify-content: center;
}

#scheduler-details {
    max-width: 450px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid silver;
}

.appointment-details-interior {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.appointment-details-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border-bottom: 1px solid silver;
    color: #505050;
    background-color: cornsilk;
}

.appointment-details-header #details-title {
    margin: 0.75em;
    flex-grow: 1;
    align-self: center;
    cursor: default;
    line-height: 1.4;
}

#scheduler-details[all-rooms=True] .appointment-details-header {
    background-color: mintcream;
}

#scheduler-details[no-users=True] .appointment-details-header {
    background-color: aliceblue;
}

#scheduler-details[error-mode=True] #details-title {
    color: firebrick;
}

.appointment-details-header .btn {
    font-size: 1.5em;
    line-height: 0;
    margin: 0;
    padding: 0.75em;
    align-self: flex-start;
}

.appointment-details-footer {
    flex-shrink: 0;
    border-top: 1px solid silver;
    color: #505050;
    background-color: #EAEAEA;
    text-align: center;
}

.appointment-details-footer #details-link {
    display: block;
    width: 100%;
    height: 100%;
}

.appointment-details-content {
    flex-grow: 1;
    padding: 0.75em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.appointment-details-content .appointment-details {
    margin-bottom: 1em;
}

.appointment-details h4:first-child {
    margin-top: 0;
    margin-bottom: 0.25em;
}

#scheduler-details.details-no-problems .appointment-details-errors {
    display: none;
}

#scheduler-details.details-no-users .appointment-details-users {
    display: none;
}

#scheduler-details[all-rooms=True] .appointment-details-rooms,
#scheduler-details.details-no-rooms .appointment-details-rooms {
    display: none;
}

#scheduler-details.details-no-slots .appointment-details-slots {
    display: none;
}

#scheduler-details.details-no-info .appointment-details-info {
    display: none;
}
