.scheduler {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid silver;
}

.scheduler-header {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    align-items: stretch;
}

.scheduler-left-top {
    flex-shrink: 0;
    border-right: 1px solid silver;
}

.scheduler-header-scrollable {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

table.scheduler-header-columns {
    position: relative;
    border-collapse: separate;
    empty-cells: show;
}

table.scheduler-header-columns th.scheduler-header-column {
    border-right: 1px solid silver;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    cursor: default;
}

.scheduler-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-top: 1px solid silver;
}

.scheduler-header-rows {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    border-right: 1px solid silver;
}

.scheduler-header-rows-scrollable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scheduler-header-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid silver;
    text-align: right;
    padding: 0.5em;
    font-weight: bold;
    cursor: default;
}

.scheduler-scrollable {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

table.scheduler-grid {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border-collapse: separate;
    empty-cells: show;
}

table.scheduler-grid td {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

.scheduler-appointments {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.scheduler-appointment {
    display: block;
    padding: 3px;
}

.scheduler-appointments .scheduler-appointment {
    position: absolute;
}

.appointment-interior {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    overflow: hidden;
    background-color: cornsilk;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.appointment-all-rooms .appointment-interior {
    background-color: mintcream;
    border: 1px solid mediumaquamarine;
}

.appointment-all-rooms .appointment-interior {
    justify-content: center;
}

.appointment-no-users .appointment-interior {
    background-color: aliceblue;
    border: 1px solid lightblue;
    align-items: center;
    justify-content: center;
}

.appointment-intersection .appointment-interior {
    border: 1px dashed red;
}

.appointment-header {
    overflow: hidden;
    font-weight: bold;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
}

.appointment-users {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-end;
}

.appointment-no-users .appointment-users {
    display: none;
}

.appointment-no-users .appointment-header {
    text-align: center;
    font-size: 1.2em;
}

.appointment-all-rooms .appointment-header {
    text-align: center;
    font-size: 1.2em;
}

.appointment-no-users .appointment-interior {
    padding: 0.4em;
}

.appointment-no-users .appointment-header {
    -webkit-line-clamp: 3;
}

.appointment-all-rooms.appointment-has-users .appointment-header {
    -webkit-line-clamp: 1;
}

.appointment-all-rooms.appointment-has-users .appointment-users {
    justify-content: center;
    flex-grow: 0;
    margin-top: 0.5em;
}

.appointment-click-overlay {
    display: none;
}

.scheduler-fullscreen .scheduler .appointment-click-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.scheduler-intersections {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.scheduler-notallocated {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.scheduler-fullscreen .scheduler-intersections,
.scheduler-fullscreen .scheduler-notallocated {
    overflow-x: hidden;
    overflow-y: auto;
}
