h1, h2, h3, h4, h5, h6, p, div, dt {
  font-family: 'Roboto', sans-serif;
}

blockquote {
  font-size: 14px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 700px;
}

.multi-line {
  width: 700px;
}

.joinrpg-todo {
  color: #ff8c00;
}

.no-details details > summary:before {
  float: left;
  width: 20px;
  content: '► ';
}

.no-details details.open > summary:before {
  content: '▼ ';
}

.deleted {
  text-decoration: line-through;
}

.world-object-hidden {
  background-color: #DFE4E6;
}