@inject IUriLocator<ProjectIdentification> linkLocator
<a href="@TargetUri">@Model.ProjectName</a>

@code {
    [Parameter]
    [EditorRequired]
    public IProjectLinkViewModel Model { get; set; } = null!;

    public Uri TargetUri => linkLocator.GetUri(Model.ProjectId);
}
