@model JoinRpg.Web.Models.PermissionBadgeViewModel

@if (Model.Value)
{
<span class="label label-success" title="@Model.Description" data-toggle="tooltip">
    <span class="glyphicon glyphicon-ok-sign"></span>
    @Model.DisplayName
</span>
}
else
{
<span class="label label-default" title="@Model.Description" data-toggle="tooltip">
    <span class="glyphicon glyphicon-remove-sign"> </span>
    @Model.DisplayName
</span>
}
<br />
