@model JoinRpg.Web.Models.Schedules.SchedulePageViewModel
<div class="scheduler-intersections">
    @foreach (var appointment in Model.Intersections)
    {
        @Html.Partial("_AppointmentPartial", appointment)
    }
</div>
