@using JoinRpg.Web.App_Code
&copy; <a href="http://bastilia.ru">#</a>ЛеоЦарев и друзья.
Поддержка: <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:support@joinrpg.ru">support@joinrpg.ru</a>
/ <a href="https://vk.com/joinrpg"><img src="~/Content/Images/vk_icon.png"/></a>.
@MvcHtmlHelpers.HelpLink("", "Помощь")
Версия проекта: @ViewContext.Controller.GetType().Assembly.GetName().Version
