@namespace JoinRpg.WebComponents
<Tooltip Title="@Title">
    <span class="glyphicon glyphicon-calendar" style="color:black;"></span>
</Tooltip>

@code {
    [Parameter]
    public string Title { get; set; } = null!;
}

