name: 'Test Report'
on:
  workflow_run:
    workflows: ['Build and publish']  # runs after build with full workflow
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v1.5.0
        with:
          artifact: test-results # artifact name
          name: Unit tests                  # Name of the check run which will be created
          path: '*.trx'                     # Path to test results (inside artifact .zip)
          reporter: dotnet-trx              # Format of test results
