@model JoinRpg.Web.Models.SearchResultViewModel
@{
  ViewBag.Title = "Результаты поиска";
}

<h2>@ViewBag.Title</h2>
<p>Вы искали: @Model.SearchString</p>
@if (Model.Results.Any())
{
    foreach (var result in Model.Results)

    {
        @*TODO: Can't find template for interface, so damned hard-coded template name*@
        @Html.DisplayFor(m => result, "ISearchResult")
    }
}
else
{
    <p>Ничего не найдено</p>
}