@using JoinRpg.Web.Models
@model SearchResultViewModel
@{
  ViewBag.Title = "Результаты поиска";
}

<h2>@ViewBag.Title</h2>
<p>Вы искали: @Model.SearchString</p>
@if (Model.Results.Any())
{
    var resultsByProject = ProjectListItemViewModel
        .OrderByDisplayPriority(
          Model.Results.GroupBy(r => r.ProjectId),
          g => g.Key == null ? null : Model.ProjectDetails[g.Key.Value])
        .OrderByDescending(x => x.Key == null);
    
    foreach (var resultsForProject in resultsByProject)
    {
        <div class="panel panel-default">
            @if (resultsForProject.Key != null)
            {
                <div class="panel-heading">@Model.ProjectDetails[resultsForProject.Key.Value].ProjectName</div>
            }

            <div class="panel-body">
                @foreach(var result in resultsForProject)
{
                    @*TODO: Can't find template for interface, so damned hard-coded template name*@
                    @Html.DisplayFor(m => result, "ISearchResult")
                }
            </div>
        </div>
        
    }
}
else
{
    <p>Ничего не найдено</p>
}