@model IReadOnlyCollection<JoinRpg.Web.Models.Print.HandoutListItemViewModel>
@if (Model.Any())
{
  <div class="print-character-handout">
    <h1>Раздатка</h1>
        <p>Здесь собраны все вещи, которые нужно положить в конверт.</p>
        <table>
            @foreach (var handout in Model)
            {
              <tr>
                  <td class="handout-checkbox-cell"><div>&nbsp;</div></td>
                  <td>@handout.Text</td>
              </tr>
            }
        </table>
    </div>
}
