@using JoinRpg.Domain
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Helpers
@using JoinRpg.Web.ProjectMasterTools.Print
@model JoinRpg.Web.Models.Print.PrintCharacterViewModel
<div class="print-character-header">
        <component type="typeof(EnvelopeInscription)"
                   render-mode="Static"
                   param-Model="@Model.Envelope" />

    @if (Model.RegistrationOnHold)
    {
        <div class="print-character-registration-alert ">
            <h2>Конверт не готов к выдаче</h2>
            <ul>
                @if (Model.FeeDue > 0)
                {
                    <li><b>Доплатить взнос:</b> @Model.FeeDue</li>
                }
                @if (Model.HasUnready)
                {
                    <li>
                        Часть загрузов помечены как не готовы!
                    </li>
                }
            </ul>
        </div>
    }

    <partial name="_CharacterHandout" model="@Model.Handouts" />
</div>
