@model JoinRpg.Web.Models.Print.PrintCharacterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.ProjectName: @Model.CharacterName</title>
    <link href="~/css/print.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/components.css" />
    <link rel="stylesheet" href="~/_content/JoinRpg.WebComponents/css/roboto.css" />
    <style>
      @@page {
        size: A4;
        margin: 0;
      }
    </style>
</head>
<body>
<div>
    @await Html.PartialAsync("PrintCharacter", Model)
</div>
</body>
</html>
