@model JoinRpg.Web.Models.Print.PrintCharacterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.ProjectName: @Model.CharacterName</title>
    <link href="~/css/print.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet" />
    <style>
      @@page {
        size: C5;
        margin: 0;
      }
    </style>
</head>
<body>
<div>
    @await Html.PartialAsync("PrintCharacter", Model)
</div>
</body>
</html>
